{# same macro as in Properties.pm.j2 #}
{% macro write_subs(cls, superdict) %}
{
    {% for zone in cls.pubdata.children | sort(attribute="name") %}
        {# do not treat non-leaf nodes #}
        {% if zone.data_position < 0 %}
            {% continue %}
        {% endif %}
        '{{ zone.name | upper }}' => {
            name => '{{ zone.name | upper }}',
            maxels => {{ get_perl_maxels(zone.property, cls, superdict) }},
            type => '{{ zone.property.type.name }}',
            flags => {
                {% for flag in zone.property.flags.values() | sort(attribute="name") %}
                    {{ flag.name }} => 1,
                {% endfor %}
            },
            {# end flags #}
            {# symbols #}
            {% if zone.property.symlist %}
            symbols => {
                {% for const in zone.property.symlist.consts %}
                    {% set value = get_const_value(const, cls, superdict) %}
                    {% if value is matching_regex("\d+") %}
                '{{ const.symbol }}' => {{ value }},
                    {% endif %}
                {% endfor %}
            },
            {% elif zone.property.class_symlists %}
            symbols => {
                {% for const in zone.property.class_symlists[cls.id].consts %}
                    {% set value = get_const_value(const, cls, superdict) %}
                    {% if value is matching_regex("\d+") %}
                '{{ const.symbol }}' => {{ value }},
                    {% endif %}
                {% endfor %}
            },
            {% endif %}
        },
        {# close zone #}
    {% endfor %}
}
{% endmacro %}
#!/usr/bin/perl -w

# {{__output_filename__}} - This file is automatically generated by {{__generator_name__}} ({{__generator_filename__}} - {{__template_filename__}}) - DO NOT EDIT

package FGC::Class::{{cls.id}}::API;

use Exporter;
use strict;

our @ISA       = qw(Exporter);
our @EXPORT_OK = qw(
                        get_class
                        get_properties
                        get_publications
                        get_version
                   );

my %fgc_properties =
(
{% for property in superdict.properties.values() | sort(attribute="full_name") %}
    {# skip properties that are not part of the current class #}
    {% if cls.id not in property.classes %}{% continue %}{% endif %}
    {{ property.full_name | quote }} => {
        name => {{property.full_name | single_quote}},
        group => {{ property.group.name | single_quote}},
        type => {{ get_perl_type(property, cls) | single_quote }},
        operational => {{ get_perl_operational(property, cls) }},
        maxels => {{ get_perl_maxels(property, cls, superdict) }},
        get => {{ "1" if has_specific_get(property, cls) else "0" }},
        set => {{ "1" if has_specific_set(property, cls) else "0" }},
    {# write class specific flags #}
    {% set flags = get_class_flags(property, cls) %}
        flags => {
        {% for flag in flags %}
            {{ flag }} => 1,
        {% endfor %}
        {# close flags #}
        },
        class_symbols => {
            {% for const in get_perl_symlists_consts(property, cls) %}
            '{{const.symbol}}' => {
                meaning => '{{ const.meaning.value }}',
                settable => {{ 1 if property.set and const.settable else 0 }},
                {# Write const values for class #}
                {% set value = get_const_value(const, cls, superdict) %}
                {% if value is matching_regex("\d+") %}
                value => {{ value }},
                {% endif %}
            {# close symbol #}
            },
            {% endfor %}
        {# close symbols #}
        },
    {# close property #}
    },
{% endfor %}
);

my %fgc_publications =
(
    SUB_{{cls.id}} => {{ write_subs(cls, superdict) }},
    SUB => { {{cls.id}} => {{ write_subs(cls, superdict) }} },
);

sub get_class() { return {{cls.id}}; }
sub get_properties() { return \%fgc_properties; }
sub get_publications() { return \%fgc_publications; }
sub get_version() { return 'TODO: calc_version'; }

return(1);

# EOF