{% macro write_block(variant, write=true) %}
    {# define variables to prevent warning #}
    {% set blocks = "" %}
    {% set access_right = "" %}
    {% if write %}
        {% set blocks = variant.write_blocks %}
        {% set access_right = 'RW' %}
    {% else %}
        {% set blocks = variant.read_blocks %}
        {% set access_right = 'RO' %}
    {% endif %}
    {% for block in blocks %}
        {% for element in block.elements %}
{{ element.name }} => {
    access_rights => '{{ access_right }}',
    critical => {{ block.critical | int }},
    block => {{ block.number }},
    index => {{ loop.index0 }},
            {% if not element.symlist %}
    scaling_offset => {{ element.scaling_offset }},
    scaling_gain => {{ element.scaling_gain }},
    unit => '{{ element.unit }}',
    symlist => undef
            {% else %}
    scaling_offset => undef,
    scaling_gain => undef,
    unit => undef,
    symlist => '{{ element.symlist.name }}'
    symbols => {
                {% for const in element.symlist.consts %}
        '{{ const.symbol }}' => {
            meaning => '{{ const.meaning.value }}',
            settable => {{ 1 if const.settable and write else 0 }},
            value => {{ const.value }}
        },
        {# close symbol #}
                {% endfor %}
    },
    {# close symbols #}
            {% endif %}
},
{# close element #}
        {% endfor %}
    {% endfor %}
{% endmacro %}
#!/usr/bin/perl -w

# {{__output_filename__}} - This file is automatically generated by {{__generator_name__}} ({{__generator_filename__}} - {{__template_filename__}}) - DO NOT EDIT

package FGC::RegFGC3_parameters;

use Exporter;
use strict;

our @ISA       = qw(Exporter);
our @EXPORT    = qw(
			%regfgc3_parameters
			%regfgc3_converters
	);

our %regfgc3_parameters =
(
{% for board_k, board in superdict.regfgc3.boards | dictsort(reverse=false) %}
    {{ board_k }} => {
    {% for device_k, device in board.devices | dictsort() %}
        {{ device_k }} => {
        {% for variant_k, variant in device.variants | dictsort() %}
            {{ variant_k }} => {
            {% for api_version, variant_variant in variant.variant.items() %}
                {% if api_version is matching_regex("\d+") %}
                {{ api_version }} => {
                    {{ write_block(variant_variant, true) }}
                    {{ write_block(variant_variant, false) }}
                },
                {# close api version #}
                {% endif %}
            {% endfor %}
            },
            {# close variant #}
        {% endfor %}
        },
        {# close device #}
    {% endfor %}
    },
    {# close board #}
{% endfor %}
);

our %regfgc3_converters =
(
{% for converter_k, converter in superdict.regfgc3.converters | dictsort %}
    {{ converter_k }} => {
        barcode => '{{ converter.barcode}}',
        boards => {
    {% for board_k, board in converter.boards | dictsort %}
            {{ board_k }} => {
                slots => [{{ board.slots | join(", ") }}],
                devices => [
        {% for board_child in board.devices %}
                    {device_name => '{{ board_child.name }}', variant => '{{ board_child.variant }}'},
        {% endfor %}
                ],
                {# close devices #}
            },
            {# close board #}
    {% endfor %}
        },
        {# close boards #}
    },
    {# close converter #}
{% endfor %}
);

return(1);

# EOF