{% for cls_id, val in symlists.items() %}
    {% set cls = val[0] %}
    {% set warnings = val[1] %}
    {% set faults = val[2] %}
    {# write warnings #}
    {% for alarm in warnings %}
        {% set fault_code = log2(cls.symtab_consts[alarm.name].value | int(cls.symtab_consts[alarm.name].value, base=16)) | int %}
        {% set priority = alarm.priority if alarm.priority else 2 %}
        {% set action = alarm.action | default("") | replace("\n", ' ') | replace("\r", ' ') | trim %}
        {% set cause = alarm.cause | default("") | replace("\n", ' ') | replace("\r", ' ') | trim %}
        {% set consequence = alarm.consequence | default("") | replace("\n", ' ') | replace("\r", ' ') | trim %}
{{ cls_id }}:{{ alarm.symbol }}:{{ fault_code }}:{{ priority }}:{{ alarm.title }}:{{ cause }}:{{ consequence }}:{{ action }}
    {% endfor %}
    {# write faults #}
    {% for alarm in faults %}
        {% set fault_code = log2(cls.symtab_consts[alarm.name].value | int(cls.symtab_consts[alarm.name].value, base=16)) | int %}
        {% set priority = alarm.priority if alarm.priority else 3 %}
        {% set action = alarm.action | default("") | replace("\n", ' ') | replace("\r", ' ') | trim %}
        {% set cause = alarm.cause | default("") | replace("\n", ' ') | replace("\r", ' ') | trim %}
        {% set consequence = alarm.consequence | default("") | replace("\n", ' ') | replace("\r", ' ') | trim %}
{{ cls_id }}:{{ alarm.symbol }}:{{ fault_code + 16 }}:{{ priority }}:{{ alarm.title }}:{{ cause }}:{{ consequence }}:{{ action }}
    {% endfor %}
{{ cls_id}}::32:2:Device unreachable:Device cannot be contacted and its status is unknown:Device may or may not be operating correctly.  It may not receive commands:Check status of power, WorldFIP and network
{% endfor %}