:root
{
    --fgcd-font-header: 'Raleway', sans-serif;
    --fgcd-font-text: 'Open Sans', sans-serif;

    --fgcd-col-act: #1ABC9C;
    --fgcd-col-act-dim: #16A085;
    --fgcd-col-act-text: white;
    --fgcd-col-dark: #212E3B;

    --fgcd-col-bcg: #ECF0F1;
    --fgcd-col-bcg-text: #333333;
    --fgcd-col-header: var(--fgcd-col-act-dim);
    --fgcd-col-header-light: var(--fgcd-col-act);
    --fgcd-col-header-text: #F3F4F6;
    --fgcd-col-nav: #F8F9FB;
    --fgcd-col-nav-text: #333333;
    --fgcd-col-nav-border: #EEEBEE;
}

.fgcd-header
{
    z-index: 10;

    background-color: var(--fgcd-col-header);
    color: var(--fgcd-col-header-text);
    font-family: var(--fgcd-font-header);
    font-size: 1.2rem;
    font-weight: 500;

    height: 65px;
    padding-left: 40px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    /*box-shadow: 0 0 10px -5px #000000;*/
}

.fgcd-header a
{
    font-size: 1rem;
    height: 4rem;
    display: flex;  
    align-items: center;
    justify-content: center; 
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: var(--fgcd-col-act-text);
    margin-left: auto;
    font-weight: 400;
}

.fgcd-header a:hover
{
    color: var(--fgcd-col-act-text);
    background-color: var(--fgcd-col-act);
}
