:root
{
    --color-brand: var(--fgcd-col-act);
    --color-link: var(--fgcd-col-act-dim);

    --fluid-margin: 5vw;
}   


header .bg-gray-dark
{
    background-color: var(--fgcd-col-header);
}   

header .hover\:bg-gray-700:hover
{
    background-color: var(--fgcd-col-header-light) !important;
}   

header .focus\:bg-gray-700:focus
{
    background-color: var(--fgcd-col-header-light) !important;
}   

#search-input::placeholder
{
    color: var(--fgcd-col-header-text);
}


aside nav
{
    background-color: var(--fgcd-col-nav) !important;
    border-right: 1px solid var(--fgcd-col-nav-border);
    padding-top: 2.5rem !important;
}

main footer, main section 
{
    max-width: 860px;
}

header
{
    height: 4rem !important;
}

main
{
    padding-top: 4rem !important;
}

#search-input
{
    line-height: 4rem; 
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, nav, header span
{
    font-family: var(--fgcd-font-header);
}

header span
{
    font-size: 1.2em;
    line-height: 4rem !important;
}

aside nav .caption-text
{
    font-weight: 500;
    color: var(--fgcd-col-act-dim);
    margin-left: -1rem;
}

aside .nav-toc.pl-6
{
    padding-left: 2.5rem;
}




#fgcdDocsButton
{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-left: 20px;
    padding-right: 20px;
    color: var(--fgcd-col-act-text);
    font-family: var(--fgcd-font-header);
}

#fgcdDocsButton:hover
{
    background-color: var(--fgcd-col-act);
}


.zoomable
{
    border: 1px solid var(--fgcd-col-nav-border);
}

.zoomableImg
{
    cursor: move;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoomableCtrl
{
    border-top: 1px solid var(--fgcd-col-nav-border);
    background-color: var(--fgcd-col-nav);
    font-size: 0.9rem;
    padding-left: 20px;
    display: flex;
}

.zoomableFull
{
    cursor: pointer;
    user-select: none;
}

.zoomableFull:hover
{
    color: var(--fgcd-col-act);
}

.zoomableHint
{
    user-select: none;
    margin-left: 30px;
    opacity: 0;
}

.zoomable:hover .zoomableHint
{
    opacity: 0.5;    
}

.zoomableInfo
{
    margin-left: auto;
}

.zoomableInfo span
{
    display: inline-block;
    width: 120px;
    cursor: pointer;
    user-select: none;
} 

.zoomableInfo span:hover
{
    color: var(--fgcd-col-act);
}

.zoomedFull
{
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 100% !important;
    height: 100%;
    padding: 5%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.7);
} 

.zoomedFull .zoomableImg
{
    background-color: white;
}

.fgcd-img
{
    margin: 0;
    cursor: pointer;
}

#fgcd-imgView
{
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    visibility: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-position: center;
}

h1, h2
{
    color: var(--fgcd-col-act-dim);
}

h4
{
    margin-top: -4rem;
}

pre
{
    font-size: 0.8em;
}

.fgcd-colorbox
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    padding: 6px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.1) 0 1px 2px -1px;
}

.fgcd-colorbox-blue
{
    color: #0c4a6e;
    background-color: #eff4fa;
}

.fgcd-colorbox-green
{
    color: #14532d;
    background-color: #ebf8f4;
}

.fgcd-colorbox-yellow
{
    color: #997554;
    background-color: #fffde9;
}

.fgcd-colorbox-red
{
    color: #7f1d1d;
    background-color: #fff1f1;
}


.fgcd-colorbox-bold
{
    font-weight: 500;
}

.shareIcon
{
    opacity: 0.5;
    margin-left: 7px;
    margin-top: -7px;
}

.shareIcon:hover
{
    opacity: 1;
    color: var(--fgcd-col-act) !important;
}

