{
    {% for prop in properties | sort(attribute="name") %}
    {{ prop["name"] | quote }}: {
        "type": {{ prop["type"] | quote }},
        "access": {{ prop["access"] | quote }}{{ "," if "length" in prop }}
        {% if "length" in prop %}
        "length": {{ prop["length"] }}
        {% endif %}
    }{{ "," if not loop.last }}
    {% endfor %}
}
{{ '' }}{# newline hack #}