<p><small><a href="{{ job_url }}">Updated on {{ timestamp_str }}</a></small></p>

<TABLE class="confluenceTable">
<TR><TD class="confluenceTd">Number of analog signals:</TD><TD style="text-align: right;" class="confluenceTd">{{ num_analog_signals }}</TD></TR>
<TR><TD class="confluenceTd">Number of digital signals:</TD><TD style="text-align: right;" class="confluenceTd">{{ num_digital_signals }}</TD></TR>
<TR><TD class="confluenceTd">Number of fault signals:</TD><TD style="text-align: right;" class="confluenceTd">{{ num_fault_signals }}</TD></TR>
<TR><TD class="confluenceTd">Number of status signals:</TD><TD style="text-align: right;" class="confluenceTd">{{ num_status_signals }}</TD></TR>
</TABLE>

<TABLE class="confluenceTable">
<TR><TD class="confluenceTd">Number of fault signals with empty one labels:</TD><TD style="text-align: right;" class="confluenceTd">{{ num_fault_empty_1 }}</TD></TR>
<TR><TD class="confluenceTd">Number of fault signals with non-empty zero labels:</TD><TD style="text-align: right;" class="confluenceTd">{{ num_fault_nonempty_0 }}</TD></TR>
<TR><TD class="confluenceTd">Number of status signals with empty zero labels:</TD><TD style="text-align: right;" class="confluenceTd">{{ num_status_empty_0 }}</TD></TR>
<TR><TD class="confluenceTd">Number of status signals with empty one labels:</TD><TD style="text-align: right;" class="confluenceTd">{{ num_status_empty_1 }}</TD></TR>
</TABLE>

<p><small>Note: trailing whitespace, if any, is highlighted in red</small></p>
