body
{
    margin: 0;
    background-color: white;
    color: var(--fgcd-col-bcg-text);
    font-family: var(--fgcd-font-text);
    display: flex;
    height: 100vh;

}

#content
{
    flex: 1;
}

main
{
    height: calc(100vh - 65px);
    display: flex;
}

nav
{
    font-family: var(--fgcd-font-header);
    background-color: var(--fgcd-col-nav);
    color: var(--fgcd-col-nav-text);
    border-right: 1px solid var(--fgcd-col-nav-border);

    width: 17%;
    max-width: 450px;
    padding: 15px;

    overflow-y: auto;
    direction: rtl;
    text-align: left;

    scrollbar-width: thin;
}

nav::-webkit-scrollbar
{
    width: 8px;
}

nav::-webkit-scrollbar-track
{
    background: rgb(29, 38, 49);
}

nav::-webkit-scrollbar-thumb
{
    background: rgb(117, 122, 129);
}

nav::-webkit-scrollbar-thumb:hover
{
    background: #aaaaaa;
}


nav>div:first-child
{
    margin-top: 0;
}

nav>div
{
    cursor: pointer;
}

nav>div:hover
{
    color: var(--fgcd-col-header);
}

.nav-H1
{
    font-size: 1.5em;
    margin-top: 20px;
}

.nav-H2
{
    padding-left: 20px;
    margin-top: 8px;
}

.nav-H3
{
    padding-left: 50px;
    margin-top: 8px;
}

article
{
    flex: 1;
    padding: 15px 15px 15px 40px;
    overflow-y: scroll;
}

#article-content
{
    max-width: 1200px;
}

section
{
    padding-left: 50px;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}

h1
{
    font-family: var(--fgcd-font-header);
    font-weight: normal;
    font-size: 1.8em;
    color: var(--fgcd-col-header);
    margin-bottom: 30px;
    margin-top: 50px;
    position: relative;
}

h1:first-child
{
    margin-top: 20px;
}

h1::after
{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -5px;
    background-color: var(--fgcd-col-header);
}

h2
{
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: var(--fgcd-font-header);
    font-weight: normal;
}

h3
{
    padding-left: 30px;
    font-family: var(--fgcd-font-header);
    font-weight: normal;
    font-size: 1.4em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.hljs
{
    background-color: var(--fgcd-col-dark);
}

point-s
{
    background-color: #FCFEFE;
    border-radius: 8px;

    display: block;
    margin-top: 8px;
    margin-left: 20px;
    padding: 8px 8px 8px 12px;
    position: relative;
}

point-s::before
{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--fgcd-col-header);
    position: absolute;
    top: calc(50% - 5px);
    left: -20px;
}

point-m
{
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

point-m::before
{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--fgcd-col-header);
    margin-right: 10px;
}

hint-m
{
    font-style: italic;
    opacity: 0.6;
}

a, .active
{
    color: var(--fgcd-col-header);
}

a:hover
{
    color: var(--fgcd-col-header);
    opacity: 0.6;
}

.scrollable-code
{
    max-height: 500px;
    overflow-y: auto;
}