<table class="table table-secondary mb-0">
    <thead>
        <tr class="d-flex">
            <th class="col-1" scope="col"></th>
            <th class="col-3" scope="col">Location</th>
            <th class="col-1" scope="col">Type</th>
            <th class="col-3" scope="col">Message</th>
            <th class="col-4" scope="col">Code</th>
        </tr>
    </thead>
    <tbody>
    {% for error in data.errors %}
    {% if 'note' == error.type %}
        <tr class="d-flex table-info">
    {% elif 'error' == error.type %}
        <tr class="d-flex table-danger">
    {% elif 'warning' == error.type %}
        <tr class="d-flex table-warning">
    {% else %}
        <tr class="d-flex">
    {% endif %}
            <th class="col-1 text-break" scope="row">{{loop.index}}</th>
            <td class="col-3 text-break" scope="row">{{error.location}}</td>
            <td class="col-1 text-break" scope="row">{{error.type}}</td>
            <td class="col-3 text-break" scope="row">{{error.text}}</td>
            <td class="col-4 text-break" scope="row" style="white-space: pre-line;">{{error.code}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>