<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Tool name</th>
            <th scope="col">Errors</th>
        </tr>
    </thead>
    <tbody>
    {% for data in summary.checkerReports %}
        {% with index=loop.index %}
        <tr>
            <th scope="row"></th>
            <td scope="row">{{data.checkerName}}</td>
            <td scope="row">
                {{ components.errorButton('collapse-' + index|string + '-parent-'+ parentIndex|string, data.errorsCount) }}
            </td>
        </tr>
        <tr class="collapse" id="collapse-{{index}}-parent-{{parentIndex}}">
            <td colspan="4">
                {% if data.errorsCount > 0 -%}
                <div class="collapse" id="collapse-{{index}}-parent-{{parentIndex}}">
                    {% include "checkerTable.html" %}
                </div>
                {% endif %}
            </td>
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
</table>