<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Static analysis report</title>
    </head>
    <body>
        {% import 'components.html' as components %}

        <h1>Static analysis report</h1>
        <div class="d-flex justify-content-center gap-2">
            <button type="button" class="btn btn-primary" onclick="expandErrors()">Expand errors</button>
            <button type="button" class="btn btn-primary" onclick="hideErrors()">Hide all</button>
        </div>
        <div style="
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        ">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">File</th>
                        <th scope="col">Errors</th>
                    </tr>
                </thead>
                <tbody>
                {% for file, summary in reports.items() %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{file}}</td>
                        <td>
                            {{ components.errorButton('filedetails-' + loop.index|string, summary.errorsCount) }}
                        </td>
                    </tr>
                    <tr class="collapse" id="filedetails-{{loop.index}}">
                        <td colspan="4">
                            <div class="collapse" id="filedetails-{{loop.index}}">
                                {% set parentIndex = loop.index %}
                                {% include "fileTable.html" %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% block javascript %}
            <script type="text/javascript">
                {% include "report.js" %}
            </script>
        {% endblock %}
    </body>
</html>