<!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js"></script>

<script>
    /*
    Merge cells vertically of a given table column
     */
    function merge_cells(table_id,column, merge_if_empty = true, split_by_area = false, skip_if_different = [], skip_if_equal = []){
        let table = document.getElementById(table_id);

        //Start with the 2nd row (index 1) to ignore the header
        let prevCell = table.rows[1].cells[column]
        prevCell.setAttribute('rowspan', 1);
        prevCell.style.display = '';

        let prevRow = table.rows[1];

        //iterate table rows
        for (let i = 2, row; row = table.rows[i]; i++) {
            // ignore if row has class 'filtered'
            if ( row.classList.contains('filtered') ) continue;

            let cell = row.cells[column];

            let merge = false;

			//CHECK THE MERGING CONDITIONS
            // MERGE IF previous visible cell is equal
            if( prevCell.innerHTML === cell.innerHTML){
                merge = true;

                // BUT, A FEW MORE CHECKS LEFT!
                // DO NOT MERGE IF:

                // 1. merge_if_empty is false and cell is empty
                if ( !merge_if_empty && cell.innerHTML === '' ){
                    merge = false;
                }

                // 2. split_by_area is true and previous visible area is different than the current area
                const prev_area = prevRow.cells[0].innerHTML;
                const curr_area = row.cells[0].innerHTML;
                if (split_by_area && prev_area !== curr_area) {
                    merge = false;
                }

                // 3. any of the given columns is different from previous visible row
                else if ( skip_if_different.length > 0 ){
                    for (const col of skip_if_different){
                        if( row.cells[col].innerHTML !== prevRow.cells[col].innerHTML){
                            merge = false;
                            break;
                        }
                    }
                }

                // This is almost an exception (when device has multiple events)
                // 4. any of the given columns is equal to the next row
                if ( skip_if_equal.length > 0 && table.rows.length > i+1){
                    for (const col of skip_if_equal){
                    	nextRow = table.rows[i+1]
                        if( row.cells[col].innerHTML == nextRow.cells[col].innerHTML){
                    		// console.log(`Col ${col} equal in rows ${i} and ${i+1} (${row.cells[col].innerHTML})`)
                            merge = false;
                            break;
                        }
                    }
                }
            }

            //APPLY THE MERGE
            if ( merge ){
                let new_rowspan = parseInt(prevCell.getAttribute('rowspan')) + 1;
                prevCell.setAttribute('rowspan',new_rowspan);
                cell.style.display="none";
            }
            //OTHERWISE LEAVE THE CELL VISIBLE
            else{
                //Set the cell visible and with rowspan 1
                prevCell = cell;
                prevRow = row;
                prevCell.setAttribute('rowspan', 1);
                prevCell.style.display = '';
            }
        }
    }

    /*
    Apply custom style to the even and odd rows for the passed columns
    skiping the filtered rows and hidden cells.
    */
    function custom_zebra(table_id,columns,style_odd, style_even) {
        let table = document.getElementById(table_id);
        let odd = true;

        // iterate table rows
        for (let i = 1, row; row = table.rows[i]; i++) {
            let hidden = false;

            //for each cell in the row remove the styling and check if any cell is hidden.
            for ( const col of columns ) {
                const cell = row.cells[col];
                cell.classList.remove(style_odd);
                cell.classList.remove(style_even);
                if ( cell.style.display == 'none' ) hidden = true;
            }

            // jump to next iteration if the row is filtered or any cell is hidden
            if ( row.classList.contains('filtered') || hidden ){
            	continue;
            }

            // Apply ODD style to every cell in the present row and given columns
            if ( odd ){
                for ( const col of columns ) {
                    let cell = row.cells[col];
                    cell.classList.add(style_odd);
                    cell.classList.remove(style_even);
                }
            }
            // Apply EVEN style to every cell in the present row and given columns
            else{
                for ( const col of columns ) {
                    let cell = row.cells[col];
                    cell.classList.add(style_even);
                    cell.classList.remove(style_odd);
                }
            }
            // Invert so we apply a different style in the next iteration
            odd = !odd;

        }
    }

    /*
    Color the text red if any cell is empty
    */
    function redflag_if_empty(table_id,columns_to_check,columns_to_flag){
    	let table = document.getElementById(table_id);

    	for ( const row of table.rows ){
    		for ( const col of columns_to_check ){
    			if ( row.cells[col].innerHTML == '' ){
    				for ( const col_to_flag of columns_to_flag ){
    					row.cells[col_to_flag].style.color = "red";
    				}
    				continue;
    			}
    		}
    	}
    }

</script>