<script>

    $.tablesorter.addWidget({
        id: 'czebra',
        format: function(table) {
            custom_zebra('aTable', [4,5,6], 'even', 'odd');
            custom_zebra('aTable', [0], 'odd_title', 'even');
            custom_zebra('aTable', [1], 'odd_title', 'even');
            custom_zebra('aTable', [2], 'odd_title', 'even');
            custom_zebra('aTable', [3], 'odd_title', 'even');
        }
    });


    $.tablesorter.addWidget({
        id: 'merger',
        format: function(table) {
            merge_cells('aTable',0);
    		merge_cells('aTable',1, true, true, [0]);
    		merge_cells('aTable',2, true, true, [1]);
    		merge_cells('aTable',3);
        }
    });

    $('table').tablesorter({
        widgets : ['merger','filter','czebra', 'stickyHeaders']
    });

    $($('.tablesorter-filter-row .tablesorter-filter')[0]).attr("placeholder","Filter by group");
    $($('.tablesorter-filter-row .tablesorter-filter')[1]).attr("placeholder","");
    $($('.tablesorter-filter-row .tablesorter-filter')[2]).attr("placeholder","");
    $($('.tablesorter-filter-row .tablesorter-filter')[3]).attr("placeholder","Search for a fFEC");
    $($('.tablesorter-filter-row .tablesorter-filter')[4]).attr("placeholder","REF[1|2]WARNING");
    $($('.tablesorter-filter-row .tablesorter-filter')[5]).attr("placeholder","B*X.F");
    $($('.tablesorter-filter-row .tablesorter-filter')[6]).attr("placeholder","0|40");

    $("#aTable th").addClass("sorter-false");
    $("#aTable th:eq(0)").removeClass("sorter-false");

</script>
<style type="text/css">
	/* REQUIRED in CUSTOM THEMES!
	 This is the only definition that MUST BE added to any custom themes.
	 This is how rows are hidden by filtering (included in provided themes) */
	.tablesorter .filtered {
	  display: none;
	}

    .odd {
        background-color: #e2e4e9;
    }

    .separator {
		border-top: 2px solid #c1c7d0;
	}

    th {
		background-color: #0065ff;
		padding: 10px;
		color: white;
    }

    .odd {
        background-color: #e2e4e9;
    }

    .odd_title {
    	background-color: #f4f5f7
    }

    .tablesorter-filter-row {
        background: white;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
        width: 110px;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(2) .tablesorter-filter {
        width: 110px;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(7) .tablesorter-filter {
        width: 55px;
    }


</style>
