<script>
    $.tablesorter.addWidget({
        id: 'czebra',
        format: function(table) {
            custom_zebra('timeTable', [0], 'odd_title', 'even');
            custom_zebra('timeTable', [1], 'odd_title', 'even');
            custom_zebra('timeTable', [2], 'odd_title', 'even');
            custom_zebra('timeTable', [3], 'odd_title', 'even');
            custom_zebra('timeTable', [4,5], 'even', 'odd');
            custom_zebra('timeTable', [6], 'even', 'odd');
            custom_zebra('timeTable', [7], 'even', 'odd');
            custom_zebra('timeTable', [8], 'even', 'odd');
        }
    });

    $.tablesorter.addWidget({
        id: 'merger',
        format: function(table) {
            merge_cells('timeTable',0);
            merge_cells('timeTable',1, true, true, [0]);
            merge_cells('timeTable',2, true, true, [3]);
            merge_cells('timeTable',3);
            merge_cells('timeTable',4);
            merge_cells('timeTable',5,false, true, [4]);
            merge_cells('timeTable',6,true,true,[3,7],[4]);
            merge_cells('timeTable',7,true,true,[3,6],[4]);
            merge_cells('timeTable',8,true,true,[3,6],[4]);
        }
    });

    $.tablesorter.addWidget({
        id: 'redflag_if_empty',
        init: function(table) {
            redflag_if_empty('timeTable',[7],[6]);
        }
    });

    $('#timeTable').tablesorter({
        widgets : ['merger','filter','czebra','stickyHeaders','redflag_if_empty'],

        // sort on the first column and second column in ascending order
        sortList: [[0,0],[1,0]]
    });

    $($('.tablesorter-filter-row .tablesorter-filter')[0]).attr("placeholder","Filter by group");
    $($('.tablesorter-filter-row .tablesorter-filter')[1]).attr("placeholder","");
    $($('.tablesorter-filter-row .tablesorter-filter')[2]).attr("placeholder","");
    $($('.tablesorter-filter-row .tablesorter-filter')[3]).attr("placeholder","Search for FECs");
    $($('.tablesorter-filter-row .tablesorter-filter')[4]).attr("placeholder","Search for an FGC");
    $($('.tablesorter-filter-row .tablesorter-filter')[5]).attr("placeholder",".Q?N");
    $($('.tablesorter-filter-row .tablesorter-filter')[6]).attr("placeholder","REF_?");
    $($('.tablesorter-filter-row .tablesorter-filter')[7]).attr("placeholder","*BX.*|*BIX.*");
    $($('.tablesorter-filter-row .tablesorter-filter')[8]).attr("placeholder","Type a number");

    $("#timeTable th").addClass("sorter-false");
    $("#timeTable th:eq(0)").removeClass("sorter-false");

</script>
<style type="text/css">
	/* REQUIRED in CUSTOM THEMES!
	 This is the only definition that MUST BE added to any custom themes.
	 This is how rows are hidden by filtering (included in provided themes) */
	.tablesorter .filtered {
	  display: none;
	}

    .odd {
        background-color: #e2e4e9;
    }

    .separator {
		border-top: 2px solid #c1c7d0;
	}

    th {
		background-color: #0065ff;
		padding: 10px;
		color: white;
    }

    .odd {
        background-color: #e2e4e9;
    }

    .odd_title {
    	background-color: #f4f5f7
    }

    .tablesorter-filter-row {
        background: white;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
        width: 100px;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(2) .tablesorter-filter {
        width: 100px;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(3) .tablesorter-filter {
        width: 150px;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(4) .tablesorter-filter {
        width: 120px;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(7) .tablesorter-filter {
        width: 150px;
    }

    .tablesorter .tablesorter-filter-row td:nth-child(9) .tablesorter-filter {
        width: 55px;
    }

</style>