{% macro write_enum(elementstrings, label, name, prefix, line1="", camel_case=False) %}
    {% set numels = elementstrings | length %}
    {% if line1 != "" %}
        {% set numels = numels + 1 %}
    {% endif %}
/*!
 * {{ label }} constants ({{ numels }})
 */
enum {{ name }}_e
{
    {% if line1 != "" %}
    /* {{ "{:>3}".format(0) }} */ {{ prefix }}_{{ line1 }},
    {% endif %}
    {% for element in elementstrings %}
        {% if camel_case %}
            {% set symbol = element | replace(' ', '_') %}
        {% else %}
            {% set symbol = element | upper %}
        {% endif %}
        {% if line1 != "" %}
    /* {{ "{:>3}".format(loop.index0 + 1) }} */ {{ prefix }}_{{ symbol }},
        {% else %}
    /* {{ "{:>3}".format(loop.index0) }} */ {{ prefix }}_{{ symbol }},
        {% endif %}
    {% endfor %}
    NUM_{{ name | upper }}
};
{% endmacro %}
