{% macro write_def_mask(elements, nameattribute, label, prefix) %}
    {% set numels = elements | length %}
// {{ label }} constants ({{ numels }})

{% for element in elements %}
    {% set symbol = element | attr(nameattribute) | upper %}
#define {{ "{:<30}".format(prefix + '_' + symbol) }} {{ element.mask }}
{% endfor %}

{% endmacro %}
