:root
{
    --font-header: 'Raleway', sans-serif;
    --font-text: 'Open Sans', sans-serif;

    --col-bcg: #ecf0f1;
    --col-bcg-text: #333333;
    --col-header: #27ae60;
    --col-header-text: white;
    --col-nav: #212E3B;
    --col-nav-text: white;
}

body
{
    margin: 0;
    background-color: var(--col-bcg);
    color: var(--col-bcg-text);
    font-family: var(--font-text);
    display: flex;
    height: 100vh;

}

#content
{
    flex: 1;
}

header
{
    z-index: 10;

    background-color: var(--col-header);
    color: var(--col-header-text);
    font-family: var(--font-header);
    font-size: 2.2em;

    height: 65px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    /*box-shadow: 0 0 10px -5px #000000;*/
}

header span
{
    margin-left: auto;
}

main
{
    height: calc(100vh - 65px);
    display: flex;
}

nav
{
    background-color: var(--col-nav);
    color: var(--col-nav-text);
    font-family: var(--font-header);

    width: 20%;
    max-width: 450px;
    padding: 15px;

    overflow-y: auto;
    direction: rtl;
    text-align: left;

    scrollbar-width: thin;
}

nav::-webkit-scrollbar
{
    width: 8px;
}

nav::-webkit-scrollbar-track
{
    background: rgb(29, 38, 49);
}

nav::-webkit-scrollbar-thumb
{
    background: rgb(117, 122, 129);
}

nav::-webkit-scrollbar-thumb:hover
{
    background: #aaaaaa;
}


nav>div:first-child
{
    margin-top: 0;
}

nav>div
{
    cursor: pointer;
}

nav>div:hover
{
    color: var(--col-header);
}

.nav-H1
{
    font-size: 1.5em;
    margin-top: 20px;
}

.nav-H2
{
    padding-left: 20px;
    margin-top: 8px;
}

.nav-H3
{
    padding-left: 50px;
    margin-top: 8px;
}

article
{
    box-shadow: 0 0 15px -5px #444444 inset;

    flex: 1;
    padding: 15px 15px 15px 40px;
    overflow-y: scroll;
}

section
{
    padding-left: 50px;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}

h1
{
    font-family: var(--font-header);
    font-weight: normal;
    font-size: 1.8em;
    color: var(--col-header);
    margin-bottom: 30px;
    margin-top: 50px;
    position: relative;
}

h1:first-child
{
    margin-top: 20px;
}

h1::after
{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: -5px;
    background-color: var(--col-header);
}

h2
{
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: var(--font-header);
    font-weight: normal;
}

h3
{
    padding-left: 30px;
    font-family: var(--font-header);
    font-weight: normal;
    font-size: 1.4em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.hljs
{
    background-color: var(--col-nav);
}

point-s
{
    background-color: #FCFEFE;
    border-radius: 8px;

    display: block;
    margin-top: 8px;
    margin-left: 20px;
    padding: 8px 8px 8px 12px;
    position: relative;
}

point-s::before
{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--col-header);
    position: absolute;
    top: calc(50% - 5px);
    left: -20px;
}

point-m
{
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

point-m::before
{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--col-header);
    margin-right: 10px;
}

hint-m
{
    font-style: italic;
    opacity: 0.6;
}

a, .active
{
    color: var(--col-header);
}

a:hover
{
    color: var(--col-header);
    opacity: 0.6;
}

.scrollable-code
{
    max-height: 500px;
    overflow-y: auto;
}