﻿A
{
    text-decoration:    none;
}

A:link
{ 
    color:              #3366CC;
    text-decoration:    none;
}

A:visited
{ 
    color:              #3366CC;
    text-decoration:    none;
}

A:hover
{ 
    color:              #CC0000; 
    text-decoration:    none;
}

/* Anchor for items in system status table */

A.status
{
    color:              #000000;
}

BODY
{
    background:         #FFFFCC;
}

/* Container to allow centring */

DIV.center
{ 
    text-align: center; 
}

/* Font settings for page title banner */

FONT.banner
{
    color:              #6666FF;
    font-size:          220%;
    font-style:         italic;
}

HR
{
    border:             1px solid #CCCC99;
}

HR.equation
{
      border:           0px;
      background-color: #555555;
      height:           1px;
}

IMG
{
    border:             0px;
}

/* Page logo */

IMG.logo
{
    border:             2px solid #AEAD7B;
}

TABLE
{
    border:             1px solid #888888;
    border-spacing:     1px;
    empty-cells:        show;
    margin-left:        auto;
    margin-right:       auto;
    width:              100%;
}

/* Table giving definition version */

TABLE.def
{
    width:              860px;
}

/* Table`for equations */

TABLE.equation
{
    border:             0px;
    font-size:          90%;
    font-style:         italic;
    padding:            0px;
    width:              auto;
}

TABLE.equation TD.equation
{
    border:             0px;
    text-align:         center;
    padding:            3px
}

/* Table embedded within documentation */

TABLE.embedded
{
    border:             0px;
    font-size:          80%;
    width:              auto;
}

/* Header cells within an embedded table */

TABLE.embedded TH.alt2
{
    background:         #CCCC99;
    vertical-align:     middle;
    text-align:         center; 
    padding:            4px;
}

/* Body cells within an embedded table */

TABLE.embedded TD.alt2
{
    background:         #99CC99;
    padding:            4px;
    vertical-align:     middle;
    text-align:         center;
}

/* Table data within an embedded table */

TABLE.embedded TD
{
    border:             0px;
    background:         #DDDDDD;
    padding:            2px;
}

/* Table for page footer */

TABLE.footer
{
    border:             none;
    width:              860px;
}

/* Table data within the page footer table */

TABLE.footer TD
{
    border:             none;
    padding:            0px;
}

/* Table for page header */

TABLE.header
{
    border:             none;
    width:              860px;
}

/* Table data within the page header table */

TABLE.header TD
{
    border:             none;
    padding:            0px;
}

/* Table for fields in documentation */

TABLE.field
{
    border:             none;
    width:              100%;
}

/* Table data within a field table */

TABLE.field TD
{
    border:             none;
    padding:            0px;
    text-align:         left;
    vertical-align:     baseline;
    width:              30%;
}

/* Main tables on page, set to 860px width for neat printing */

TABLE.main
{
    width:              860px;
}

/* Main tables on page, set to 860px width for neat printing - sorted ones */

TABLE.sort
{
    width:              860px;
}

/* Tables for handwritten documentation */

TABLE.main_doc
{
    border:             none;
    border-spacing:     5px;
    width:              860px;
}

/* Table data for handwritten documentation content */

TABLE.main_doc TD
{
    border:             none;
    vertical-align:     top;
}

/* Table header for handwritten documentation sidebar */

TABLE.main_doc TH
{
    background:         #CCCC99;
    border:             none;
    text-align:         center;
    vertical-align:     top;
    width:              110px;
}

TD
{
    border:             1px solid #CCCC99;
    padding:            8px;
}

/* Alternative table data - a different background colour to stand out */

TD.alt
{
    background:         #CCFFCC;
}

/* Table data within an index */

TD.index
{
}

/* Table data for system status tables */

TD.stat_boot
{
    background:         #FFFFFF;
    font-family:        monospace;
    font-size:          7pt;
    padding:            0px;
    text-align:         center;
    width:              18px;
}

TD.stat_fault
{
    background:         #FF3333;
    color:              #FFFFFF;
    font-family:        monospace;
    font-size:          7pt;
    padding:            0px;
    text-align:         center; 
    width:              18px;
}

TD.stat_fault A
{
    color:              #FFFFFF;
}

TD.stat_field_name
{
    background:         #CCCC99;
    font-family:        sans-serif;
    font-size:          8pt;
    font-weight:        bold;
    padding:            0px;
    text-align:         center;
    width:              20%;
}

TD.stat_field_value_float
{
    background:         #FFFFEE;
    font-family:        monospace;
    font-size:          8pt;
    padding:            0px;
    text-align:         right;
    width:              30%;
}

TD.stat_field_value_int
{
    background:         #FFFFEE;
    font-family:        monospace;
    font-size:          8pt;
    padding:            0px;
    text-align:         right;
    width:              15%;
}

TD.stat_field_value_string
{
    background:         #FFFFEE;
    font-family:        sans-serif;
    font-size:          8pt;
    padding:            0px;
    text-align:         center;
    width:              30%;
}

TD.stat_offline
{
    background:         #000000;
    color:              #FFFFFF;
    font-family:        monospace;
    font-size:          7pt;
    padding:            0px;
    text-align:         center; 
    width:              18px;
}

TD.stat_offline A
{
    color:              #FFFFFF;
}

TD.stat_okay
{
    background:         #00FF00;
    font-family:        monospace;
    font-size:          7pt;
    padding:            0px;
    text-align:         center; 
    width:              18px;
}

TD.stat_unreach
{
    background:         #00FFFF;
    font-family:        monospace;
    font-size:          7pt;
    padding:            0px;
    text-align:         center; 
    width:              18px;
}

TD.stat_warning
{
    background:         #FFFF00;
    font-family:        monospace;
    font-size:          7pt;
    padding:            0px;
    text-align:         center; 
    width:              18px;
}

TD.status
{
    padding:            0px;
    font-family:        monospace;
    font-size:          7pt;
    text-align:         center; 
    width:              18px;
}

TD.stat_boot A:visited
{ 
    color:              #000000;
    text-decoration:    none;
}

TD.stat_fault A:visited
{ 
    color:              #FFFFFF;
    text-decoration:    none;
}

TD.stat_offline A:visited
{ 
    color:              #FFFFFF;
    text-decoration:    none;
}

TD.stat_okay A:visited
{ 
    color:              #000000;
    text-decoration:    none;
}

TD.stat_unreach A:visited
{ 
    color:              #000000;
    text-decoration:    none;
}

TD.stat_warning A:visited
{ 
    color:              #000000;
    text-decoration:    none;
}

TD.status_gw
{
    background:         #CCCC99;
    font-family:        sans-serif;
    font-size:          7pt;
    padding:            0px;
    text-align:         center; 
}

TD.status_gw_field
{
    background:         #FFFFEE;
    font-family:        monospace;
    font-size:          7pt;
    padding:            0px;
    text-align:         right;
}

TH
{
    background:         #99CCFF;
    border:             1px solid #CCCC99;
    padding:            6px;
}

/* Alternative table header (TH) - a different background colour to stand out */

TH.alt
{
    background:         #CCFFEE;
    text-align:         center;    
}

/* Table header (TH) for centre-indexes */

TH.centreindex
{
    padding:            2px;		/*Modified by Benoit. Original value is 6px */
}

/* Table header (TH) for side-indexes */

TH.sideindex
{
    background:         #CCCC99;
    padding:            6px;
    width:              15%;
}

/* Image within side-index table header */

TH.sideindex IMG
{
    vertical-align:     bottom;
}

/* Table header (TH) for sitemap */

TH.sitemap
{
    padding:            8px;
    width:              50%;
}

/* Tooltip on mouse-over */

.tooltip
{
    cursor:             help;
    text-decoration:    none;
}

/* DataTables stuff - very lite, only sorting arrows */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting {
  background-image: url("images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("images/sort_asc.png") !important;
}
table.dataTable thead .sorting_desc {
  background-image: url("images/sort_desc.png") !important;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("images/sort_desc_disabled.png");
}

/* EOF */
