{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}

{% macro write_node_summary_line(menu) %}
<!-- Node ID {{menu.id}} -->
    {% set color = 256 - (51 + (32 * (menu.id | length))) %}
<TR>
    <TD bgcolor="#FFFF{{ "%x" | format(color) }}" width="15%" align="left"><SMALL>{{menu.id}}{{"*" if menu.function }}&nbsp;</SMALL></TD>
    <TD align="left">
        <SMALL>
            <B>
            <A href="{{platform_path}}_{{menu.platform.name}}_boot_menu_{{menu.id}}.htm">
            {{ "&nbsp;" * 8 * (menu.id | length) }}{{menu.name}}
            </A>
            </B>
        </SMALL>
    </TD>
</TR>

    {% for child in menu.menus %}
{{ write_node_summary_line(child) }}
    {% endfor %}
{% endmacro %}

<TABLE class="main">

{{ macros.write_index_link(platform_path + "_" + boot_menu.platform.name + ".htm", "PLATFORM", True) }}
    <TH>Boot Menu Summary</TH>
{{ macros.write_index_link(platform_path + "_" + boot_menu.platform.name + "_boot_menu_" + boot_menu.id + ".htm", "DETAILS", False) }}
</TABLE>

{# Write tree #}
<TABLE class="main">

{{ write_node_summary_line(boot_menu) }}

</TABLE>
{% endblock %}
