{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set col3width = "30%" %}
{% set navarrow = "vspace=\"1\" width=\"15\" height=\"15\" border=\"0\"" %}

<!-- Node ID {{boot_menu.id}} -->

<A name="{{boot_menu.id}}"></A>

<TABLE class="main">

{{ macros.write_index_link(platform_path + "_" + boot_menu.platform.name + ".htm", "PLATFORM", True) }}

{# Set table title depending whether node is the root #}

{% if boot_menu.parent %}
    <TH>{{boot_menu.id}}: {{boot_menu.name}}</TH>
{% else %}
    <TH>{{boot_menu.name}}</TH>
{% endif %}

{# generate navigation buttons #}
{% if boot_menu.parent %}
    <TH class="sideindex">
    {% if prev_menu %}
        <A href="{{platform_path}}_{{boot_menu.platform.name}}_boot_menu_{{prev_menu.id}}.htm"><img alt="Left arrow" src="../../images/blueleft.gif" {{navarrow}}></A>
    {% else %}
        <img alt="Left arrow" src="../../images/greyleft.gif" {{navarrow}}>
    {% endif %}
        <A href="{{platform_path}}_{{boot_menu.platform.name}}_boot_menu_{{boot_menu.parent.id}}.htm"><img alt="Up arrow" src="../../images/blueup.gif" {{navarrow}} hspace="6"></A>
    {% if next_menu %}
        <A href="{{platform_path}}_{{boot_menu.platform.name}}_boot_menu_{{next_menu.id}}.htm"><img alt="Right arrow" src="../../images/blueright.gif" {{navarrow}}></A>
    {% else %}
        <img alt="Right arrow" src="../../images/greyright.gif" {{navarrow}}>
    {% endif %}
    </TH>
    </TR>
{% else %}
    {{ macros.write_index_link(platform_path + "_" + boot_menu.platform.name + "_boot_menu_summary.htm", "SUMMARY", False) }}
{% endif %}
</TABLE>

<TABLE class="main">

{# Write C name #}

{{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "C name:") }}
{{ boot_menu.cname }}
{{ macros.write_end_row_list("</TD>") }}

{# Write function #}

{{ macros.write_start_row_list("<TD>", col3width, "baseline", "Function:") }}
{% if boot_menu.function %}
    {{ boot_menu.function }}
{% endif %}
{{ macros.write_end_row_list("</TD></TR>") }}


{# Write recurse #}

{{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Recursive:") }}
{% if boot_menu.recurse %}
Yes
{% else %}
No
{% endif %}
{{ macros.write_end_row_list("</TD>") }}

{# Write fatal #}

{{ macros.write_start_row_list("<TD width=\"50%\">", col3width, "baseline", "Fatal:") }}
{% if boot_menu.fatal %}
Yes
{% else %}
No
{% endif %}
{{ macros.write_end_row_list("</TD></TR>") }}
</TABLE>

{# Write arguments #}

{% if boot_menu.args %}
<TABLE class="main">
    <TR>
        <TD colspan="2">
            Arguments: &nbsp;
    {% for arg in boot_menu.args %}
        {{ arg.type }}{{"," if not loop.last }}
    {% endfor %}
        </TD>
    </TR>
</TABLE>

<TABLE class="main">
    <TR>
        <TH width="20%">Argument type</TH>
        <TH>Description</TH>
    </TR>
    {% for arg in boot_menu.args %}
    <TR>
        <TD align="center">{{ arg.type }}</TD>
        <TD>{{ arg.desc }}</TD>
    </TR>
    {% endfor %}
</TABLE>
{% endif %}

{# Write returned values #}
{% if boot_menu.returns %}
<TABLE class="main">
    <TR>
        <TD>
            Returned values: &nbsp;
    {% for ret in boot_menu.returns %}
        {{ ret.type }}{{"," if not loop.last }}
    {% endfor %}
        </TD>
    </TR>
</TABLE>

<TABLE class="main">
    <TR>
        <TH width="20%">Return type</TH>
        <TH>Description</TH>
    </TR>
    {% for ret in boot_menu.returns %}
    <TR>
        <TD align="center">{{ ret.type }}</TD>
        <TD>{{ ret.desc }}</TD>
    </TR>
    {% endfor %}
</TABLE>
{% endif %}

{# Write documentation if defined #}
{% if boot_menu.doc %}
<TABLE class="main">
    <TR>
        <TD>{{boot_menu | docs }}</TD>
    </TR>
</TABLE>
{% endif %}

{# Write children #}
{% if boot_menu.menus %}
<TABLE class="main">
    <TR>
        <TH width="20%">ID</TH>
        <TH>Child</TH>
        <TH>Fatal</TH>
    </TR>
    {% for child in boot_menu.menus %}
    <!-- Child {{child.id}}. {{child.name}} -->
    <TR>
        <TD align="center"><SMALL>{{child.id}}</SMALL></TD>
        <TD align="left"><SMALL><A href="{{platform_path}}_{{boot_menu.platform.name}}_boot_menu_{{child.id}}.htm">{{child.name}}</A></SMALL></TD>
        <TD align="center"><SMALL>{{ "Yes" if child.fatal else "No" }}</SMALL></TD>
    </TR>
    {% endfor %}
</TABLE>
{% endif %}

{% endblock %}
