{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace() %}
{% set varrow = " vspace=\"1\" width=\"15\" height=\"15\" border=\"0\"" %}
{% set col1width = "70%" %}
{% set col3width = "30%" %}
{% set top_level_property = "" %}
{% set property_page = "" %}

<A name="{{memzone.full_name}}"></A>

<TABLE class="main">
    {{ macros.write_index_link(class_path + cls.id + ".htm", "CLASS", True) }}

    {% if memzone.name %}
    <TH width="{{col1width}}">{{memzone.full_name}}</TH>
    {% else %}
    <TH width="{{col1width}}">[TOP]</TH>
    {% endif %}

{# Generate navigation buttons #}

{% if memzone.parent %}
    <TH class="sideindex">

    {% if prev_memzone %}
        <A href="{{class_path}}{{cls.id}}_pubdata{{prev_memzone.full_name}}.htm">
            <img alt="Left arrow" src="../../images/blueleft.gif" {{varrow}}>
        </A>
    {% else %}
        <img alt="Left arrow" src="../../images/greyleft.gif" {{varrow}}>
    {% endif %}
        <A href="{{class_path}}{{cls.id}}_pubdata{{memzone.parent.full_name}}.htm">
            <img alt="Up arrow" src="../../images/blueup.gif" hspace="6" {{varrow}}>
        </A>
    {% if next_memzone %}
        <A href="{{class_path}}{{cls.id}}_pubdata{{next_memzone.full_name}}.htm">
            <img alt="Right arrow" src="../../images/blueright.gif" {{varrow}}>
        </A>
    {% else %}
        <img alt="Right arrow" src="../../images/greyright.gif" {{varrow}}>
    {% endif %}
    </TH>
    </TR>
{% else %}
    {{ macros.write_index_link("", "&nbsp;", False) }}
{% endif %}

</TABLE>

<TABLE class="main">

{# Write address #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Address:") }}
    {{ "0x%05X:%d" | format( (memzone.address / 8) | int, memzone.address % 8 ) }}
    {{ macros.write_end_row_list("</TD>") }}

{# Write size #}
    {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Size:") }}
    {{ memzone.size }}
    {{ macros.write_end_row_list("</TD></TR>") }}

{# Write property #}
    {{ macros.write_start_row_list("<TR><TD colspan=\"2\">", "14%", "baseline", "Property:") }}

    {% if memzone.property %}
        {% set top_level_property = memzone.property.full_name.split('.')[0] %}
        {% set property_page = property_path + top_level_property + ".htm" %}
    <A href="{{property_page}}#{{memzone.property.full_name}}">{{memzone.property.full_name}}</A>

    {% endif %}
    {{ macros.write_end_row_list("</TD></TR>") }}

{# Write doc #}

    {% if memzone.doc %}
    <TR>
        <TD colspan="2">{{memzone | docs}}</TD>
    </TR>
    {% endif %}
</TABLE>

{% if memzone.children %}
<TABLE class="main">
    <TR>
        <TH>Child zone</TH>
        <TH>Offset</TH>
        <TH>Size</TH>
        <TH>Documentation</TH>
    </TR>

    {% for child in sort_pubdata(memzone) %}
    <!-- {{child.name}} -->
    <TR>
        <TD align="center">
            <SMALL>
                <A href="{{class_path}}{{cls.id}}_pubdata{{child.full_name}}.htm">{{child.name}}</A>
            </SMALL>
        </TD>
        <TD align="center">
            <SMALL>
                {{ "0x%05X:%d" | format( (child.address / 8) | int, child.address % 8) }}
            </SMALL>
        </TD>
        <TD align="center">
            <SMALL>
                {{ child.size }}
            </SMALL>
        </TD>
    {{ macros.write_row_doc(child.comment) }}
    {% endfor %}
</TABLE>
{% endif %}

{% endblock %}
