{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set col1width = "70%" %}

<TABLE class="main">
    <TR>
        <TH width="{{col1width}}">{{symlist_name}}</TH>
    </TR>
</TABLE>

<TABLE class="main">
    <TR>
        <TH width="40%">Symbol</TH>
        <TH width="15%">Class ID</TH>
        <TH width="45%">Value</TH>
    </TR>
    {% for symbol_name, cls_val in symbols | dictsort %}
    <TR>
        <TD width="30%" rowspan="{{cls_val | length }}">
            <A name="{{symlist_name}}.{{symbol_name}}"></A>
            <SMALL>{{symbol_name}}</SMALL>
        </TD>
        {% for cls_id, symbol in cls_val | dictsort %}
            {% set cls = superdict.classes[cls_id] %}
            {% if not loop.first %}
    <TR>
            {% endif %}
        <TD width="20%"><SMALL><A href="{{class_path}}{{cls.id}}_{{symlists_path}}_{{symlist_name}}.htm#{{symlist_name}}.{{symbol_name}}">{{cls.id}}</A></SMALL></TD>
            {% if symbol.name in cls.consts %}
                {% set ns.value = cls.consts[symbol.name].val %}
            {% elif symbol.name in superdict.consts %}
                {% set ns.value = superdict.consts[symbol.name].val %}
            {% else %}
                {% set ns.value = symbol.value %}
            {% endif %}
            {% if ns.value is matching_regex("^\d+$") %}
                <TD><SMALL>{{ "0x%04X" | format(ns.value | int) }}</SMALL></TD>
            {% else %}
                <TD><SMALL>{{ns.value}}</SMALL></TD>
            {% endif %}
    </TR>
        {% endfor %}
    {% endfor %}
</TABLE>

{% endblock %}