{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}

<TABLE class="main">
    <TR>
        <TH class="sitemap">Reference</TH>
        <TH class="sitemap">Documentation</TH>
    </TR>

    <TR>
        <TD VALIGN="top">
            <UL>
                <LI type="disc"><SMALL><A href="{{platform_path}}_{{cls.platform.name}}.htm">Platform</A></SMALL></LI>
                <LI type="disc"><SMALL><A href="{{class_path}}_{{cls.id}}_properties.htm">Properties</A></SMALL></LI>
    {% if has_config_properties %}
                <LI type="disc"><SMALL><A href="{{class_path}}_{{cls.id}}_config_properties.htm">Config properties</A></SMALL></LI>
    {% endif %}
                <LI type="disc"><SMALL><A href="{{class_path}}{{cls.id}}_pubdata.htm">Published data</A></SMALL></LI>
            </UL>
        </TD>

{# Documentation area #}

        <TD VALIGN="TOP">
    {% if cls.sitemap %}
            <UL>
                {{ macros.recurse_links(cls.sitemap, True) }}
            </UL>
    {% endif %}

        </TD>
    </TD>
</TABLE>

{% endblock %}
