{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(published="") %}
{% set ns.op_flag = false %}
{% set col1width = "40%" %}

<TABLE class="main">
    {{ macros.write_index_link(class_path + cls.id + ".htm", "CLASS", True) }}
    <TH width="{{col1width}}">{{cls.name}}</TH>
    {{ macros.write_index_link(platform_path + "_" + cls.platform.name + ".htm", "PLATFORM", False) }}
</TABLE>

<TABLE class="sort">
    <thead>
        <TR>
            <TH width="{{col1width}}">Property Name</TH>
            <TH>Pub</TH>
            <TH>Cfg</TH>
            <TH>NV</TH>
            <TH>OP</TH>
            <TH>KT</TH>
            <TH>From spare</TH>
            <TH>Property Title</TH>
        </TR>
    </thead>
    <tbody>
    {% for prop in cls.properties.values() | sort(attribute="full_name") %}
        {% set top_level_prop_name = prop.full_name.split('.')[0] %}

        {% set ns.published = "&nbsp;" %}

        {% if cls.pubdata %}
            {% for zone in cls.pubdata.children %}
                {% if zone.property and zone.property.name == prop.full_name %}
                    {% set ns.published = "<A href=\"" + class_path + cls.id + "_pubdata" + zone.full_name + ".htm\">YES</A>" %}
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% set config_flag = "YES" if "CONFIG" in prop.flags else "&nbsp;" %}

        {% set nv_flag = "YES" if "NON_VOLATILE" in prop.flags else "&nbsp;" %}

        {% set ns.op_flag = false %}
        {% if cls.id in prop.specific_operational %}
            {% set ns.op_flag = prop.specific_operational[cls.id] %}
        {% elif prop.operational %}
            {% set ns.op_flag = prop.operational %}
        {% endif %}

        {% set ns.op_flag = "YES" if ns.op_flag == True else "&nbsp;" %}

        {% set kt_flag = "YES" if prop.kt else "&nbsp;" %}

        {% set from_spare = "YES" if prop["from_spare_converter"] else "&nbsp;" %}

    <TR>
        <TD><A href="{{property_path}}_{{cls.id}}_{{top_level_prop_name}}.htm#{{prop.full_name}}"><SMALL>{{prop.full_name}}</SMALL></A></TD>
        <TD align="CENTER"><SMALL>{{ns.published}}</SMALL></TD>
        <TD align="CENTER"><SMALL>{{config_flag}}</SMALL></TD>
        <TD align="CENTER"><SMALL>{{nv_flag}}</SMALL></TD>
        <TD align="CENTER"><SMALL>{{ns.op_flag}}</SMALL></TD>
        <TD align="CENTER"><SMALL>{{kt_flag}}</SMALL></TD>
        <TD align="CENTER"><SMALL>{{from_spare}}</SMALL></TD>
        <TD><SMALL>{{prop.title}}</SMALL></TD>
    </TR>
    {% endfor %}
    </tbody>
</TABLE>

{% endblock %}
