{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(published="") %}
{% set ns.op_flag = false %}
{% set col1width = "40%" %}

<TABLE class="main">
    {{ macros.write_index_link(class_path + cls.id + ".htm", "CLASS", True) }}
    <TH width="{{col1width}}">{{cls.name}}</TH>
    {{ macros.write_index_link(platform_path + "_" + cls.platform.name + ".htm", "PLATFORM", False) }}
</TABLE>

<TABLE class="main">
    <TR>
        <TH width="{{col1width}}">Property Name</TH>
        <TH>Property Title</TH>
    </TR>

    {% for prop in cls.properties.values() | sort(attribute="full_name") %}
        {% set top_level_prop_name = prop.full_name.split('.')[0] %}
        {% if "CONFIG" in prop.flags %}
        <TR>
            <TD><A href="{{property_path}}{{top_level_prop_name}}.htm#{{prop.full_name}}"><SMALL>{{prop.full_name}}</SMALL></A></TD>
            <TD><SMALL>{{prop.title}}</SMALL></TD>
        </TR>
        {% endif %}
    {% endfor %}
</TABLE>

{% endblock %}
