{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}

<TABLE class="main">
    <TR>
        <TH>ID</TH>
        <TH>Front-End Classes</TH>
        <TH>Platform</TH>
        <TH align="left">Description</TH>
    </TR>

{# Front-End classes #}
{% for cls in sorted_classes %}
    {% if (cls.id | int) >= 30 %}{% break %}{% endif %}

    <TR>
        <TD align="center"><SMALL>{{cls.id}}</SMALL></TD>
        <TD align="center"><SMALL><A href="{{class_path}}{{cls.id}}.htm">{{cls.name}}</A></SMALL></TD>
        <TD align="center"><SMALL><A href="{{platform_path}}_{{cls.platform.name}}.htm">{{cls.platform.name.upper()}}</A></SMALL></TD>
        <TD align="left"><SMALL>{{cls.title}}</SMALL></TD>
    </TR>
{% endfor %}

{# Equipment classes #}
    <TR>
        <TH>ID</TH>
        <TH>Equipment Classes</TH>
        <TH>Platform</TH>
        <TH align="left">Description</TH>
    </TR>
{% for cls in sorted_classes %}
    {% if (cls.id | int) < 30 %}{% continue %}{% endif %}

    <TR>
        <TD align="center"><SMALL>{{cls.id}}</SMALL></TD>
        <TD align="center"><SMALL><A href="{{class_path}}{{cls.id}}.htm">{{cls.name}}</A></SMALL></TD>
        <TD align="center"><SMALL><A href="{{platform_path}}_{{cls.platform.name}}.htm">{{cls.platform.name.upper()}}</A></SMALL></TD>
        <TD align="left"><SMALL>{{cls.title}}</SMALL></TD>
    </TR>
{% endfor %}

</TABLE>

{% endblock %}
