{% extends "base.htm.j2" %}

{% block content %}
<TABLE class="main">
    <TR>
        <TH>ID</TH>
        <TH>Name</TH>
        <TH>Size</TH>
        <TH>Documentation</TH>
    </TR>
    {% for code in superdict.codes %}
        <!-- code {{ code.full_name }} -->
        <TR>
            <TD align="center" valign="middle"><SMALL>{{code.id}}</SMALL></TD>
            <TD align="center" valign="middle"><SMALL>{{code.code_dir_name}}</SMALL></TD>
            <TD align="center" valign="middle"><SMALL>{{code.size_kb}}</SMALL></TD>
            <TD align="left" valign="top"><SMALL>{{code | docs}}</SMALL></TD>
        </TR>
    {% endfor %}
</TABLE>
{% endblock %}