{% extends "base.htm.j2" %}

{% block content %}
{# define variables #}
{% set rowspan = "" %}
{% set top_level_property = "" %}
{% set property_page = "" %}
{% set channel_property_name = "" %}
<TABLE class="main">

    <TR>

        <TH class="sideindex"><SMALL><A href=""></A></SMALL></TH>
        <TH>Component Types</TH>
        <TH class="sideindex"><SMALL><A href=""></A></SMALL></TH>
    </TR>

</TABLE>

<TABLE class="main">
{% for component in superdict.components.values() | sort(attribute="barcode") %}
    {% if component.temp_prop is not none %}
        {% set rowspan = 2 %}
    {% else %}
        {% set rowspan = 1 %}
    {% endif %}
    <A name="{{component.barcode}}"></A>
    <TR>
        <TD width="85px"  rowspan="{{rowspan}}"><SMALL>{{component.barcode}}</SMALL></A></TD>
        <TD width="145px" align="center">
            <SMALL>
    {% if component.barcode_prop is not none %}
        {% set top_level_property = component.barcode_prop.split('.')[0] %}
        {% set channel_property_name = component.barcode_prop | replace('?', 'A') %}
        {% set property_page = property_path + top_level_property + '.htm' %}
            <A href="{{property_page}}#{{channel_property_name}}">{{component.barcode_prop}}</A>
    {% else %}
    &nbsp;
    {% endif %}
            </SMALL>
        </TD>
        <TD><SMALL>{{component.label}}</SMALL></A></TD>
    </TR>
    {# second row if required #}
    {% if rowspan == 2 %}
    <TR>
        <TD align="center">
            <SMALL>
        {% if component.temp_prop is not none %}
            {% set top_level_property = component.temp_prop.split('.')[0] %}
            {% set channel_property_name = component.temp_prop | replace('?', 'A') %}
            {% set property_page = property_path + top_level_property + '.htm' %}
                <A href="{{property_page}}#{{channel_property_name}}">{{component.temp_prop}}</A>
        {% else %}
            &nbsp;
        {% endif %}
            </SMALL>
        </TD>
        <TD><SMALL></SMALL></TD>
    </TR>
    {% endif %}
{% endfor %}
</TABLE>
{% endblock %}