{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "40%" %}

<TABLE class="main">
    {{ macros.write_index_link("", "", True) }}
    <TH width="{{col1width}}">{{dim_type.type}}</TH>
    {{ macros.write_index_link(dim_type_index_path, "DIM TYPES", False) }}
</TABLE>

<TABLE class="main">
    <TR>
        <TD>{{superdict.component_labels[dim_type.comp].label}}{{ " - " + dim_type.purpose if dim_type.purpose is not none else '' }}</TD>
    </TR>
</TABLE>

{# Write analogue channel information #}
    {% if dim_type.ana_channels %}
<TABLE class="main">
    <TR>
        <TH class="sideindex" colspan="5"><SMALL>Analogue</SMALL></TH>
    </TR>
    <TR>
        <TH width="10%"><SMALL>Index</SMALL></TH>
        <TH><SMALL>Label</SMALL></TH>
        <TH><SMALL>Min</SMALL></TH>
        <TH><SMALL>Max</SMALL></TH>
        <TH><SMALL>Units</SMALL></TH>
    </TR>
        {% for k, v in dim_type.ana_channels.items() %}
    <TR>
        <TD align="center"><SMALL>{{v.index}}</SMALL></TD>
        <TD><SMALL>{{v.label}}</SMALL></TD>
        <TD align="center"><SMALL>{{v.min_0V}}</SMALL></TD>
        <TD align="center"><SMALL>{{v.max_5V}}</SMALL></TD>
        <TD align="center"><SMALL>{{v.units}}</SMALL></TD>
    </TR>
        {% endfor %}
</TABLE>
    {% endif %}

{# Write digital channel information #}
    {% if dim_type.dig_banks %}
<TABLE class="main">
    <TR>
        <TH class="sideindex" colspan="6"><SMALL>Digital</SMALL></TH>
    </TR>
    <TR>
        <TH width="10%"><SMALL>Bank Index</SMALL></TH>
        <TH width="10%"><SMALL>Input Index</SMALL></TH>
        <TH width="15%"><SMALL>Input Index inside Bank</SMALL></TH>
        <TH><SMALL>Label</SMALL></TH>
        <TH><SMALL>Zero</SMALL></TH>
        <TH><SMALL>One</SMALL></TH>
    </TR>
        {% for k_bank, v_bank in dim_type.dig_banks.items() %}
            {% set outer = loop %}
            {% for k_input, v_input in v_bank.inputs.items() %}
    <TR>
                {% if loop.first %}
        <TD align="center" rowspan="{{v_bank.inputs | length }}">{{v_bank.index}}</TD>
                {% endif %}
        <TD align="center"><SMALL>{{ outer.index0 * 12 + v_input.index }}</SMALL></TD>
        <TD align="center"><SMALL>{{v_input.index}}</SMALL></TD>
        <TD><SMALL>{{"FLT:" if v_input.fault else "STA:"}}{{v_input.label}}</SMALL></TD>
        <TD align="center"><SMALL>{{v_input.zero}}</SMALL></TD>
        <TD align="center"><SMALL>{{v_input.one}}</SMALL></TD>
    </TR>
            {% endfor %}
        {% endfor %}
</TABLE>
    {% endif %}

{% endblock %}