{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "25%" %}

<TABLE class="main">
    <TR>
        <TH width="{{col1width}}">DIM Type</TH>
        <TH>DIM Type Label</TH>
    </TR>

    {% for dim_type in superdict.dim_types.values() | sort(attribute="type") %}
    <TR>
        <TD><A href="{{dim_type_path}}{{dim_type.type}}.htm"><SMALL>{{dim_type.type}}</SMALL></A></TD>
        <TD>
            <SMALL>
                {{superdict.component_labels[dim_type.comp].label}}{{ " - " + dim_type.purpose if dim_type.purpose is not none else '' }}
            </SMALL>
        </TD>
    </TR>
    {% endfor %}

</TABLE>

{% endblock %}