{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set bookmark = "" %}
{% set col1width = "25%" %}
{{ macros.write_table_title(col1width, ["Error message"]) }}
</TABLE>
    {% for error in superdict.errors | sort(attribute="number") %}
        {% set bookmark = error.message | replace(" ", "_") %}
        <!-- {{ error.message }} -->
        <A name="{{bookmark}}"></A>
        <TABLE class="main">
        {{ macros.write_row_title(col1width, "! " + error.number | string + " " + error.message + ".") }}
        {{ macros.write_row_doc(error | docs) }}
        </TABLE>
    {% endfor %}
{% endblock %}