{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "25%" %}
{{ macros.write_table_title(col1width, ["Property Flag"]) }}
</TABLE>
    {% for flag in superdict.flags.values() | sort(attribute="name") %}
        <!-- {{ flag.name }} -->
        <A name="{{flag.name}}"></A>
        <TABLE class="main">
        {{ macros.write_row_title(col1width, flag.name) }}
        {{ macros.write_row_doc(flag | docs) }}
        </TABLE>
    {% endfor %}
{% endblock %}
