{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "25%" %}
{{ macros.write_page_index("Get Function", "Get", superdict.gets, "name", "title") }}

{% for key, value in superdict.gets.items() | sort %}
<!-- {{ key }} -->

<A name="{{key}}"></A>
<TABLE class="main">
{{ macros.write_index_link("#top", "INDEX", True) }}
<TH class="centreindex">{{key}}</TH>
{{ macros.write_index_link(property_index_path, "PROPERTIES", False) }}
</TABLE>
<TABLE class="main">

{{ macros.write_start_row_list("<TR><TD colspan=\"2\" valign=\"top\" width=\"50%\">", col1width, "baseline", "Property types:", types_path) }}
    {% for type in value.types %}
        {% if not loop.first %}, {% endif %}<A href="{{types_path}}#{{type.name}}">{{type.name}}</A>
    {% endfor %}

{# get options #}

{{ macros.write_end_row_list("</TD>") }}
{{ macros.write_start_row_list("<TD colspan=\"2\" valign=\"top\">", col1width, "baseline", "Get options:", getoptions_path) }}
    {% for getoption in value.getopts %}
        {% if not loop.first %}, {% endif %}<A href="{{getoptions_path}}#{{getoption.symbol}}">{{getoption.symbol}}</A>
    {% endfor %}

{{ macros.write_end_row_list("</TD></TR>") }}

{# Write documentation #}
<TR>
    <TD colspan="4">
        {{value | docs}}
    </TD>
</TR>
</TABLE>

{% endfor %}

{% endblock %}
