{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set bookmark = "" %}
{% set col1width = "25%" %}
{{ macros.write_page_index("Get options", "", superdict.getoptions, "symbol", "title") }}
</TABLE>
    {% for getoption in superdict.getoptions.values() | sort(attribute="symbol") %}
        <!-- {{ getoption.symbol }} -->
        <A name="{{getoption.symbol}}"></A>
        <TABLE class="main">
            {{ macros.write_index_link("#top", "INDEX", True) }}
            <TH class="centreindex">{{getoption.symbol}}</TH>
            {{ macros.write_index_link(property_index_path, "PROPERTIES", False) }}

            <TR>
                <TD colspan="3">
                    {{ getoption | docs }}
                </TD>
            </TR>
        </TABLE>
    {% endfor %}
{% endblock %}