{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}

{% if not hw.connectors %}
<TABLE class="main">
    {{ macros.write_index_link(hardware_path + hw.lhc_id + ".htm", hw.label, True) }}
    <TH>No connectors</TH>
    {{ macros.write_index_link(hardware_index_path + hw.platform.name + ".htm", "HARDWARE", False) }}
</TABLE>
{% endif %}

{% for connector in hw.connectors | sort(attribute="id") %}
<!-- Connector {{connector.id}} -->

<A name="{{connector.id}}"></A>

<TABLE class="main">
    {{ macros.write_index_link(hardware_path + hw.lhc_id + ".htm", hw.label, True) }}
    <TH>{{connector.id}}: {{connector.name}} - {{connector.type}}</TH>
    {{ macros.write_index_link(hardware_index_path + hw.platform.name + ".htm", "HARDWARE", False) }}
</TABLE>

{# Write table of pins #}
<A name="{{connector.id}}"></A>
<TABLE class="main">
    <TR>
        <TH nowrap width="15%">Number</TH>
        <TH nowrap class="alt">Sig Type</TH>
        <TH nowrap>IO</TH>
        <TH nowrap>Label</TH>
        <TH nowrap>User</TH>
    </TR>

    {% set sig_type_count = dict() %}

    {% for pin in connector.pins %}
    <!-- Connector {{connector.id}}, pin {{pin.number}} -->
    <TR>
        <TD align="center" valign="top"><SMALL>{{pin.number}}</SMALL></TD>
        <TD align="center" valign="top"><SMALL>{{pin.sig_type}}</SMALL></TD>
        <TD align="center" valign="top"><SMALL>{{"&nbsp;" if not pin.IO else pin.IO}}</SMALL></TD>
        <TD align="left" valign="top"><SMALL>{{pin.label}}</SMALL></TD>
        <TD align="left" valign="top"><SMALL>{{pin.use}}&nbsp;</SMALL></TD>
    </TR>
        {% do sig_type_count.setdefault(pin.sig_type, 0) %}
        {% do sig_type_count.__setitem__(pin.sig_type, sig_type_count[pin.sig_type] + 1) %}
    {% endfor %}
</TABLE>

<TABLE class="main">
    <TR class="alt">
        {% for sig_type in sig_type_count.keys() | sort %}
            {% if sig_type in sig_type_names %}
        <TD class="alt"><SMALL><B>{{sig_type_names[sig_type][0:1]}}</B>{{sig_type_names[sig_type][1:]}}: {{sig_type_count[sig_type]}}</SMALL></TD>
            {% else %}
        <TD class="alt"><SMALL><B>{{sig_type}}: {{sig_type_count[sig_type]}}</B></SMALL></TD>
            {% endif %}
        {% endfor %}
    </TR>
</TABLE>
<BR>
{% endfor %}

{% endblock %}
