{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}

{{ macros.write_table_title("40%", ["Hardware", "Title"]) }}

{% for hw in platform.hardware.values() | sort(attribute="lhc_id") %}
    <TR>
        <TD><SMALL><A href="{{hardware_path}}{{hw.lhc_id}}.htm">{{hw.lhc_id}} - {{hw.label}}</A></SMALL></TD>
        {{ macros.write_row_doc(hw.title) }}
{% endfor %}
</TABLE>

{% endblock %}
