{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set navarrow = "vspace=\"1\" width=\"15\" height=\"15\" border=\"0\"" %}

<TABLE class="main">

{{ macros.write_index_link("../../download/pdf/" + hw.label + ".pdf", "DIAGRAM", True) }}

    <TH>{{hw.title}}</TH>
    <TH class="sideindex">

{# nav arrows #}
{% if prev_hw %}
    <A href="{{hardware_path}}{{prev_hw.lhc_id}}.htm"><img alt="Left arrow" src="../../images/blueleft.gif" {{navarrow}}></A>
{% else %}
    <img alt="Left arrow" src="../../images/greyleft.gif" {{navarrow}}>
{% endif %}
    <A href="{{hardware_index_path}}{{hw.platform.name}}.htm"><img alt="Up arrow" src="../../images/blueup.gif" {{navarrow}} hspace="6"></A>
{% if next_hw %}
    <A href="{{hardware_path}}{{next_hw.lhc_id}}.htm"><img alt="Right arrow" src="../../images/blueright.gif" {{navarrow}}></A>
{% else %}
    <img alt="Right arrow" src="../../images/greyright.gif" {{navarrow}}>
{% endif %}
    </TH>
</TR>
</TABLE>

{# Write hw information #}
<TABLE class="main">
    <TR>
        <TD>LHC ID: {{hw.lhc_id}}</TD>
        <TD>AB-PO ID: {{hw.epc_id}}</TD>
    </TR>

    <TR>
        <TD colspan="2">
        Pin groups: {# empty - no pin groups in platforms... #}
        </TD>
    </TR>
</TABLE>

{% if hw.connectors %}
<TABLE class="main">
    <TR>
        <TH width="20%">Connector ID</TH>
        <TH width="35%">Connector Name</TH>
        <TH>Connector Type</TH>
    </TR>
    {% for connector in hw.connectors %}
    <!-- Connector {{connector.id}} -->
    <TR>
        <TD align="center"><A href="{{hardware_path}}{{hw.lhc_id}}_connect.htm#{{connector.id}}"><SMALL>{{connector.id}}</SMALL></A></TD>
        <TD align="center"><SMALL>{{connector.name}}</SMALL></TD>
        <TD align="center"><SMALL>{{connector.type}}</SMALL></TD>
    </TR>
    {% endfor %}
</TABLE>
{% endif %}


{# Write Xilinx entries #}
{% if hw.xilinxes %}
<TABLE class="main">
    <TR>
        <TH width="20%">Xilinx IC</TH>
        <TH width="20%">Xilinx Type</TH>
        <TH width="15%">Usercode</TH>
        <TH align="left">Purpose</TH>
    </TR>
    {% for xilinx in hw.xilinxes %}
        {# skip xilinxes on tester #}
        {% if not xilinx.tester %}
        <!-- Xilinx {{xilinx.ic_number}} -->
    <TR>
            {% if xilinx.programs %}
        <TD align="center"><A href="{{hardware_path}}{{hw.lhc_id}}_xilinx{{xilinx.ic_number}}.htm"><SMALL>Xilinx {{xilinx.ic_number}}</SMALL></A></TD>
            {% else %}
        <TD align="center"><SMALL>Xilinx {{xilinx.ic_number}}</SMALL></TD>
            {% endif %}
        <TD align="center"><SMALL>{{xilinx.type}}</SMALL></TD>
        <TD align="center"><SMALL>{{xilinx.usercode}}</SMALL></TD>
        <TD align="left"><SMALL>{{xilinx.purpose}}</SMALL></TD>
    </TR>
        {% endif %}
    {% endfor %}
</TABLE>
{% elif hw.subhw %}
<TABLE class="main">
    <TR>
        <TH width="20%">Xilinx IC</TH>
        <TH width="20%">Xilinx Type</TH>
        <TH width="15%">Usercode</TH>
        <TH align="left">Purpose</TH>
    </TR>
    {% for subhw in hw.subhw %}
        {% for xilinx in subhw.xilinxes %}
        {# skip xilinxes on tester #}
        {% if not xilinx.tester %}
        <!-- Xilinx {{xilinx.ic_number}} -->
    <TR>
            {% if xilinx.programs %}
        <TD align="center"><A href="{{hardware_path}}{{subhw.lhc_id}}_xilinx{{xilinx.ic_number}}.htm"><SMALL>{{subhw.label}} Xilinx {{xilinx.ic_number}}</SMALL></A></TD>
            {% else %}
        <TD align="center"><SMALL>Xilinx {{xilinx.ic_number}}</SMALL></TD>
            {% endif %}
        <TD align="center"><SMALL>{{xilinx.type}}</SMALL></TD>
        <TD align="center"><SMALL>{{xilinx.usercode}}</SMALL></TD>
        <TD align="left"><SMALL>{{xilinx.purpose}}</SMALL></TD>
    </TR>
        {% endif %}
        {% endfor %}
    {% endfor %}
</TABLE>
{% endif %}

{% if hw.doc %}
<TABLE class="main">
    <TR>
        <TD>{{hw | docs}}</TD>
    </TR>
</TABLE>
{% endif %}

{% endblock %}
