{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set navarrow = "vspace=\"1\" width=\"15\" height=\"15\" border=\"0\"" %}

<TABLE class="main">
{{ macros.write_index_link(hardware_path + xilinx.hardware.lhc_id + ".htm", xilinx.hardware.label, True) }}
    <TH>Xilinx {{xilinx.ic_number}}</TH>
{{ macros.write_index_link(hardware_index_path + xilinx.hardware.platform.name + ".htm", "HARDWARE", False) }}
</TABLE>

<TABLE class="main">
    <TR>
        <TD>Type: {{xilinx.type}}</TD>
        <TD>Purpose: {{xilinx.purpose}}</TD>
    </TR>
</TABLE>

{# write program entries #}
{% for program in xilinx.programs %}
<!-- Xilinx program {{program.id}} -->
<A name="{{program.id}}"></A>

<TABLE class="main">
    <TR>
        <TH>Program {{program.id}}: {{program.title}}</TH>
    </TR>
    {% set project_dir = xilinx.logiware %}
    {% set project = "pld/" + xilinx.hardware.label + "/" + xilinx.ic_number | string + "/" + program.id + "/" + program.revision | string + "/" + project_dir %}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", "30%", "baseline", "Project path: " + project) }}
    {{ macros.write_end_row_list("</TD></TR>") }}

    {# Write revision descriptions #}
    <TR>
        <TD>
            <TABLE class="field">
        {% for rev in program.revisions %}
                <TR>
                    <TD align="left" valign="top" style="width: 15%">Revision {{loop.index}}: </TD>
                    <TD valign="top" style="width: 85%">{{rev | docs}}<BR><BR></TD>
                </TR>
        {% endfor %}
            </TABLE>
        </TD>
    </TR>

    {# Write description #}
    <TR>
        <TD>{{program.description}}</TD>
    </TR>
</TABLE>

{% endfor %}

{% endblock %}
