{% macro write_table_title(colwidth, titles) %}
    {% if titles | length == 1 %}
        {% do titles.append("Documentation") %}
    {% endif %}
<TABLE class="main">
    <thead>
    <TR>
    <TH width="{{colwidth}}">{{titles[0]}}</TH>

    {% for i in range(1, titles | length) %}
    <TH>{{titles[i]}}</TH>
    {% endfor %}
    </TR>
    </thead>
{% endmacro %}

{% macro write_row_title(colwidth, label) %}
<TR>
    <TD align="center" valign="top" width="{{colwidth}}">
    <SMALL><B>{{label}}</B></SMALL>
    </TD>
{% endmacro %}

{% macro write_row_doc(doc) %}
    <TD>
    <SMALL>{{doc}}</SMALL>
    </TD>
</TR>
{% endmacro %}

{% macro write_page_index(title, prefix, data, attribute_name, attribute_label) %}
    {% set colwidth = "30%" %}
<TABLE class="main">
    <TR>
        <TH class="index">{{title}}</TH>
        <TH class="index">Documentation</TH>
    </TR>
    {% for item in data | dictsort %}
    <TR>
        <TD class="index"><SMALL><B><A href="#{{ getattr(item[1], attribute_name) }}">{{ prefix }}{{ getattr(item[1], attribute_name) }}</A></B></SMALL></TD>
        <TD class="index"><SMALL>{{ getattr(item[1], attribute_label) }}</SMALL></TD>
    </TR>
    {% endfor %}
</TABLE>
{% endmacro %}

{% macro write_index_link(link, label, start=True) %}
    {% if start %}
<TR>
    {% endif %}
<TH class="sideindex"><SMALL><A href="{{link}}">{{label}}</A></SMALL></TH>
    {% if not start %}
</TR>
    {% endif %}
{% endmacro %}

{% macro write_start_row_list(prefix, colwidth, align, label, link=None) %}
{{ prefix }}

<TABLE class="field">
    <TR>
        <TD align="{{align}}">
    {% if link is none %}
        {{label}}
    {% else %}
        <A href="{{link}}">{{label}}</A>
    {% endif %}
        </TD>
        <TD style="width: {{colwidth}}" align="{{align}}">
{% endmacro %}

{% macro write_end_row_list(suffix) %}
</TD>
</TR>
</TABLE>
{{suffix}}
{% endmacro %}

{% macro recurse_links(area, skip_first_area=False) %}
    {% if not skip_first_area %}
    <LI type="circle"><SMALL>{{area.name}}</SMALL>
    {% endif %}
        <UL>
    {% for link in area.links %}
        {% if link.url.startswith("http") %}
            <LI type="disc"><SMALL><A href="{{link.url | replace("&", "&amp;")}}">{{link.name}}</A></SMALL></LI>
        {% else %}
            <LI type="disc"><SMALL><A href="../../{{link.url | replace("&", "&amp;")}}">{{link.name}}</A></SMALL></LI>
        {% endif %}
    {% endfor %}
    {% for child in area.areas %}
        {{ recurse_links(child) }}
    {% endfor %}
        </UL>
    {% if not skip_first_area %}
    </LI>
    {% endif %}
{% endmacro %}