{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set col1width = "40%" %}

<TABLE class="main">
    <TR>
        <TH class="sitemap">Reference</TH>
        <TH class="sitemap">Documentation</TH>
    </TR>

    <TR>
{# Write reference area #}
        <TD VALIGN="top">

    {% if platform.boot_menu or platform.classes or platform.hardware or platform.memmaps %}
            <UL>
    {% endif %}

    {% if platform.memmaps %}
        {% for memmap in platform.memmaps.keys() | sort %}
                <LI type="disc"><SMALL><A href="{{platform_path}}_{{platform.name}}_memmap_{{memmap}}.htm">{{memmap}} memory map</A></SMALL></LI>
        {% endfor %}
    {% endif %}

    {% if platform.boot_menu %}
                <LI type="disc"><SMALL><A href="{{platform_path}}_{{platform.name}}_boot_menu_{{platform.boot_menu.id}}.htm">Boot menu</A></SMALL></LI>
    {% endif %}

    {% if platform.classes %}
                <LI type="circle"><SMALL>Classes</SMALL>
                    <UL>
        {% for cls in platform.classes.values() | sort(attribute="id") %}
                        <LI type="disc"><SMALL><A href="{{class_path}}{{cls.id}}.htm">{{cls.id}} {{cls.name}}</A></SMALL></LI>
        {% endfor %}
                    </UL>
                </LI>
    {% endif %}

    {% if platform.hardware %}
                <LI type="circle"><SMALL><A href="{{hardware_index_path}}{{platform.name}}.htm">Hardware</A></SMALL>
                    <UL>
        {% for hw in platform.hardware.values() | sort(attribute="lhc_id") %}
                        <LI type="disc"><SMALL><A href="{{hardware_path}}{{hw.lhc_id}}.htm">{{hw.lhc_id}} - {{hw.label}}</A></SMALL></LI>
        {% endfor %}
                    </UL>
                </LI>
    {% endif %}

    {% if platform.boot_menu or platform.classes or platform.hardware or platform.memmaps %}
            </UL>
    {% endif %}
        </TD>

    {# write documentation area #}
        <TD VALIGN="top">
    {% if platform.sitemap %}
            <UL>
                {{ macros.recurse_links(platform.sitemap, True) }}
            </UL>
    {% endif %}
        </TD>
    </TR>
</TABLE>
{% endblock %}
