{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set col3width = "30%" %}
{% set navarrow = "vspace=\"1\" width=\"15\" height=\"15\" border=\"0\"" %}


<!-- Memzone {{memmap.full_name}} -->

<A name="{{memmap.full_name}}"></A>

<TABLE class="main">

    {{ macros.write_index_link(platform_path + "_" + memmap.platform.name + ".htm", "PLATFORM", True) }}

    <TH>{{ "[TOP]" if not memmap.full_name else memmap.full_name }}</TH>

{# Generate navigation buttons #}
{% if memmap.parent is not none %}
    <TH class="sideindex">
        {% if prev_memmap %}
        <A href="{{platform_path}}_{{prev_memmap.platform.name}}_memmap_{{map_name}}_{{prev_memmap.full_name}}.htm">
            <img alt="Left arrow" src="../../images/blueleft.gif" {{navarrow}}>
        </A>
        {% else %}
            <img alt="Left arrow" src="../../images/greyleft.gif" {{navarrow}}>
        {% endif %}

        {% if not memmap.parent.full_name %}
        <A href="{{platform_path}}_{{memmap.platform.name}}_memmap_{{map_name}}.htm">
            <img alt="Up arrow" src="../../images/blueup.gif" {{navarrow}} hspace="6">
        </A>
        {% else %}
        <A href="{{platform_path}}_{{memmap.platform.name}}_memmap_{{map_name}}_{{memmap.parent.full_name}}.htm">
            <img alt="Up arrow" src="../../images/blueup.gif" {{navarrow}} hspace="6">
        </A>
        {% endif %}

        {% if next_memmap %}
        <A href="{{platform_path}}_{{next_memmap.platform.name}}_memmap_{{map_name}}_{{next_memmap.full_name}}.htm">
            <img alt="Right arrow" src="../../images/blueright.gif" {{navarrow}}>
        </A>
        {% else %}
            <img alt="Right arrow" src="../../images/greyright.gif" {{navarrow}}>
        {% endif %}
    </TH>
    </TR>
{% else %}
    {{ macros.write_index_link(platform_path + "_" + memmap.platform.name + "_memmap_" + map_name + "_summary.htm", "SUMMARY", False) }}
{% endif %}
</TABLE>

<TABLE class="main">

{# Write address #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "left", "Address:") }}
    {{ "0x%08X:%d" | format( (memmap.address / 8) | int, memmap.address % 8) }}
    {{ macros.write_end_row_list("</TD>") }}

{# Write size #}
    {{ macros.write_start_row_list("<TD>", col3width, "left", "Size:") }}
    {{ memmap.size }}
    {{ macros.write_end_row_list("</TD></TR>") }}

{# Write type #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "left", "Type:") }}
    {{ memmap.type if memmap.type else "" }}
    {{ macros.write_end_row_list("</TD>") }}

{# Write access #}
    {{ macros.write_start_row_list("<TD width=\"50%\">", col3width, "left", "Access:") }}
    {% if memmap.access is none or memmap.access.value == "RW" %}
        READ/WRITE
    {% elif memmap.access.value == "R" %}
        READ ONLY
    {% else %}
        WRITE ONLY
    {% endif %}
    {{ macros.write_end_row_list("</TD></TR>") }}

{# Write constants #}
    <TR>
        <TD colspan="3">
            <TABLE class="field">
                <TR>
                    <TD>Constants: </TD>
    {% if memmap.consts %}
        {% for const_type in memmap.const_types.keys() | sort %}
            {% if not loop.first %}
                        <TR>
                            <TD>&nbsp;</TD>
            {% endif %}
                            <TD>{{const_type}}</TD>

            {% if const_type == "16BIT" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_16</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;0x{{ ("%04X" | format( (memmap.address / 8 ) | int ))[-4:] }}</TD>

            {% elif const_type == "24BIT" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_24</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;0x{{ "%06X" | format( (memmap.address / 8 ) | int ) }}</TD>

            {% elif const_type == "32BIT" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_32</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;0x{{ "%08X" | format( (memmap.address / 8 ) | int ) }}</TD>
            {% elif const_type == "PAGE" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_PG</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;0x{{ "%X" | format( (memmap.address / 524288 ) | int ) }}</TD>
            {% elif const_type == "ARRAY" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_A</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "((%-6s *)0x%05X)" | format(memmap.type, (memmap.address / 8 ) | int ) }}</TD>
            {% elif const_type == "FAR" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_FP</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "*(%-6s *far)0x%05X" | format(memmap.type, (memmap.address / 8 ) | int ) }}</TD>
            {% elif const_type == "MASK8" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_MASK8</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "0x%02X" | format(memmap.mask) }}</TD>
            {% elif const_type == "MASK16" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_MASK16</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "0x%04X" | format(memmap.mask) }}</TD>
            {% elif const_type == "MASK32" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_MASK32</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "0x%08X" | format(memmap.mask) }}</TD>
            {% elif const_type == "NEAR" or const_type == "POINTER" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_P</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "*(%-6s *)0x%08X" | format(memmap.type, (memmap.address / 8 ) | int ) }}</TD>
            {% elif const_type == "SHIFT" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_SHIFT</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "0x%04X" | format(memmap.shift) }}</TD>
            {% elif const_type == "SIZEBITS" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_BITS</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "%6u" | format(memmap.numbits) }}</TD>
            {% elif const_type == "SIZEBYTES" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_B</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "%6u" | format( (memmap.numbits / 8) + (1 if (memmap.numbits % 8) else 0) ) }}</TD>
            {% elif const_type == "SIZEWORDS" %}
                            <TD>&nbsp;&nbsp;&nbsp;&nbsp;{{memmap.full_name}}_W</TD>
                            <TD nowrap>&nbsp;&nbsp;&nbsp;&nbsp;{{ "%6u" | format( (memmap.numbits / 16) + (1 if (memmap.numbits % 16) else 0) ) }}</TD>
            {% endif %}
            </TR>
        {% endfor %}
    {% else %}
                </TR>
    {% endif %}
            </TABLE>
        </TD>
    </TR>

    {# Write docs #}

    {% if memmap.doc %}
    <TR>
        <TD colspan="3">{{memmap | docs}}</TD>
    </TR>
</TABLE>
    {% else %}
    <TR>
        <TD colspan="3">{{memmap.comment}}</TD>
    </TR>
</TABLE>
    {% endif %}

{# Write children #}

{% if memmap.children %}
<TABLE class="main">
    <TR>
        <TH>Child zone</TH>
        <TH>Address</TH>
        <TH>Size</TH>
        <TH>Documentation</TH>
    </TR>

    {% for child in sort_children(memmap) %}
    <TR>
        <TD align="center"><SMALL><A href="{{platform_path}}_{{memmap.platform.name}}_memmap_{{map_name}}_{{child.full_name}}.htm">{{child.name}}</A></SMALL></TD>
        <TD align="center"><SMALL>{{"0x%08X:%d" | format( (child.address / 8) | int, child.address % 8)}}</SMALL></TD>
        <TD align="center"><SMALL>{{child.size}}</SMALL>
        {{ macros.write_row_doc(child.comment) }}

    {% endfor %}
</TABLE>
{% endif %}

{% endblock %}
