{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "40%" %}

<TABLE class="main">
    <TR>
        <TH>ID</TH>
        <TH>Platform</TH>
        <TH align="left">Description</TH>
    </TR>

    {% for platform in superdict.platforms.values() | sort(attribute="id") %}

    <TR>
        <TD align="center"><SMALL>{{platform.id}}</SMALL></TD>
        <TD align="center"><SMALL><A href="{{platform_path}}_{{platform.name}}.htm">{{platform.name | upper}}</A></SMALL></TD>
        <TD align="left"><SMALL>{{platform.title}}</SMALL></TD>
    </TR>
    {% endfor %}

</TABLE>

{% endblock %}