{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set sorted_children = [] %}

{% macro write_zone_summary(zone) %}
    <TR>
        <TD align="left">
            <SMALL><B>
        {% if zone.full_name %}
            <A href="{{platform_path}}_{{zone.platform.name}}_memmap_{{map_name}}_{{zone.full_name}}.htm">{{zone.full_name}}</A>
        {% else %}
            <A href="{{platform_path}}_{{zone.platform.name}}_memmap_{{map_name}}.htm">[TOP]</A>
        {% endif %}
            </B></SMALL>
        </TD>
        <TD align="center">
            <SMALL>{{ "0x%08X:%d" | format( (zone.address / 8) | int, zone.address % 8) }}
        {{ macros.write_row_doc(zone.comment) }}

        {# Write children #}

        {% for child in sort_children(zone) %}
            {{ write_zone_summary(child) }}
        {% endfor %}

        </TD>
    </TR>
{% endmacro %}

<A name="{{memmap.full_name}}"></A>

<TABLE class="main">

    {{ macros.write_index_link(platform_path + "_" + memmap.platform.name + ".htm", "PLATFORM", True) }}
    <TH>Memory Map Summary</TH>
    {{ macros.write_index_link(platform_path + "_" + memmap.platform.name + "_memmap_" + map_name + ".htm", "DETAILS", False) }}

</TABLE>

<TABLE class="main">
    {{ write_zone_summary(memmap) }}
</TABLE>

{% endblock %}
