{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace() %}

<TABLE class="sort">
    <thead>
    <TR>
        <TH>ID</TH>
        <TH>Front-End Classes</TH>
        <TH>Platform</TH>
        <TH align="left">Description</TH>
    </TR>
    </thead>
    <tbody>
{% for cls in sorted_classes %}
    <TR>
        <TD align="center"><SMALL>{{cls.id}}</SMALL></TD>
        <TD align="center"><SMALL><A href="#{{cls.id}}">{{cls.name}}</A></SMALL></TD>
        <TD align="center"><SMALL><A href="{{platform_path}}_{{cls.platform.name}}.htm">{{cls.platform.name.upper()}}</A></SMALL></TD>
        <TD align="left"><SMALL>{{cls.title}}</SMALL></TD>
    </TR>
{% endfor %}
    </tbody>
</TABLE>

<BR>
<BR>

{% for cls in sorted_classes %}
<A name="{{cls.id}}"></A>
<TABLE class="main">
    {{ macros.write_index_link("#TOP", "INDEX", True) }}
    <TH class="centreindex">Class {{cls.id}} Top-Level Properties</TH>
    {{ macros.write_index_link(class_path + cls.id + ".htm", "CLASS", False) }}

    {{ macros.write_table_title("40%", ["Top-Level&nbsp;Property"]) }}

    {% for prop in cls.properties.values() | sort(attribute="full_name") %}
        {# match only top level #}
        {% if prop.parent %}{% continue %}{% endif %}

        <TR>
            <TD><SMALL><A href="{{property_path}}_{{cls.id}}_{{prop.name}}.htm">{{prop.name}}</A></SMALL></TD>
            {{ macros.write_row_doc(prop.title) }}
    {% endfor %}
    </TABLE>
    <BR>
    <BR>

</TABLE>

{% endfor %}

{% endblock %}
