{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace() %}


    {{ macros.write_table_title("40%", ["Top-Level&nbsp;Property"]) }}

    {% for prop in superdict.properties.values() | sort(attribute="full_name") %}
        {# match only top level #}
        {% if prop.parent %}{% continue %}{% endif %}

        <TR>
            <TD><SMALL><A href="{{property_path}}{{prop.name}}.htm">{{prop.name}}</A></SMALL></TD>
            {{ macros.write_row_doc(prop.title) }}
    {% endfor %}
    </TABLE>
{% endblock %}
