{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace() %}
{% set ns.op_flag = false %}
{% set ns.type_name = "" %}

{% set col1width = "70%" %}
{% set col3width = "30%" %}

{% macro write_index_table_entries(prop) %}
        <TR>
            <TD align="left">
                <SMALL>
                    <A href="#{{prop.full_name}}">{{prop.full_name}}</A>
                </SMALL>
            </TD>
            {{ macros.write_row_doc(prop.title) }}
        {% if prop.children %}
            {% for child in prop.children | sort(attribute="full_name") %}

                {# Skip properties that are not instantiated in given class #}
                {% if cls.id not in child.classes %}{% continue %}{% endif %}

                <!-- {{ child.full_name }} -->
                {{ write_index_table_entries(child) }}
            {% endfor %}
        {% endif %}
{% endmacro %}

{% macro write_property_details(prop) %}

{% set top_level_prop_name = prop.full_name.split('.')[0] %}

<!-- {{prop.full_name}} -->

<A name="{{prop.full_name}}"></A>

<TABLE class="main">
    {{ macros.write_index_link("#TOP", "INDEX", True) }}
    <TH class="centreindex">{{prop.full_name}}</TH>
    {{ macros.write_index_link(class_path + "_" + cls.id + "_properties.htm", "PROPERTIES", False) }}
</TABLE>

<TABLE class="main">

{# Write classes #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Classes:", property_path + top_level_prop_name + ".htm#" + prop.full_name)}}
    {% for cls_id in prop.classes.keys() | sort %}
        {% if cls_id == cls.id %}
        <B>{{cls_id}}</B>{{ "," if not loop.last }}
        {% else %}
        <A href="{{property_path}}_{{cls_id}}_{{top_level_prop_name}}.htm#{{prop.full_name}}">{{cls_id}}</A>{{ "," if not loop.last }}
        {% endif %}
    {% else %}
        None
    {% endfor %}
    {{ macros.write_end_row_list("</TD>")}}


{# Write property group #}

    {{ macros.write_start_row_list("<TD width=\"50%\">", col3width, "baseline", "Property group:")}}
    {{ prop.group.name }}
    {{ macros.write_end_row_list("</TD></TR>")}}

{# Write developer flags #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Developer flags:")}}
    {% set ns.op_flag = false %}
    {% if cls.id in prop.specific_operational %}
            {% set ns.op_flag = prop.specific_operational[cls.id] %}
    {% elif prop.operational %}
            {% set ns.op_flag = prop.operational %}
    {% endif %}
    {% set ns.dsp = false %}
    {% if cls.id in prop.specific_dsp %}
            {% set ns.dsp = prop.specific_dsp[cls.id] %}
    {% endif %}
    KT: {{ "YES" if prop.kt else "NO" }}<BR>
    OPERATIONAL: {{ "YES" if ns.op_flag else "NO" }}<BR>
    DSP: {{ ns.dsp if ns.dsp else "NO" }}

    {{ macros.write_end_row_list("</TD>")}}

{# Write type #}
    {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Type:", types_path)}}
    {% set ns.type_name = "" %}
    {% if prop.specific_types %}
        {% if cls.id in prop.specific_types %}
            {% set ns.type_name = prop.specific_types[cls.id].name %}
        {% else %}
            {% set ns.type_name = prop.type.name %}
        {% endif %}
    {% else %}
        {% set ns.type_name = prop.type.name %}
    {% endif %}
    <A href="{{types_path}}#{{ns.type_name}}">{{ns.type_name}}</A>
    {{ macros.write_end_row_list("</TD></TR>")}}


{# Write flags #}
    {{ macros.write_start_row_list("<TR valign=\"top\"><TD>", col3width, "baseline", "Flags:", flags_path)}}
    {% if prop.specific_flags and cls.id in prop.specific_flags %}
        {% for flag in prop.specific_flags[cls.id].values() | sort(attribute="name") %}
        <A href="{{flags_path}}#{{flag.name}}">{{flag.name}}</A>{{", " if not loop.last }}
        {% endfor %}
    {% else %}
        {% for flag in prop.flags.values() | sort(attribute="name") %}
        <A href="{{flags_path}}#{{flag.name}}">{{flag.name}}</A>{{", " if not loop.last }}

        {% else %}
        None
        {% endfor %}
    {% endif %}
    {{ macros.write_end_row_list("</TD>")}}

{# Write property range #}
    {% if prop.limits %}
        {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Range:")}}
        Min&nbsp;={{prop.min}}, Max&nbsp;={{prop.max}}
    {% elif prop.symlist %}
        {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Range:")}}

        {% for const in prop.symlist.consts %}
            <A href="{{symlists_path}}{{prop.symlist.name}}.htm#{{prop.symlist.name}}.{{const.symbol}}">{{const.symbol}}</A>
            <BR>
        {% endfor %}

    {% elif prop.class_symlist %}
        {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Range class specific:")}}

        <A href="{{class_path}}{{cls.id}}_{{symlists_path}}_{{prop.class_symlist}}.htm">{{prop.class_symlist}}</A>
        <BR><BR>
        {% for const in prop.class_symlists[cls.id].consts %}
            <A href="{{class_path}}{{cls.id}}_{{symlists_path}}_{{prop.class_symlist}}.htm#{{prop.class_symlist}}.{{const.symbol}}">{{const.symbol}}</A>
            <BR>
        {% endfor %}

    {% else %}
        {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Range:")}}
        None
    {% endif %}
    {{ macros.write_end_row_list("</TD></TR>")}}

{# Write get function #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Get function:", getfuncs_path)}}
    {% if cls.id in prop.specific_get %}
        <A href="{{getfuncs_path}}#{{prop.specific_get[cls.id].name}}">Get{{prop.specific_get[cls.id].name}}</A>
    {% elif prop.get %}
        <A href="{{getfuncs_path}}#{{prop.get.name}}">Get{{prop.get.name}}</A>
    {% else %}
        None
    {% endif %}
    {{ macros.write_end_row_list("</TD>")}}

{# Write size #}
    {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Size:&nbsp;")}}
    {% if cls.id in prop.specific_maxels %}
        {{ prop.specific_maxels[cls.id] }}
    {% elif cls.platform.name in prop.specific_maxels %}
        {{ prop.specific_maxels[cls.platform.name] }}
    {% elif prop.maxels %}
        {{ prop.maxels }}
        {% if prop.maxels.startswith("FGC_N_ELS") %}
        <BR>{{ prop.children | length }}
        {% endif %}
    {% endif %}
    {{ macros.write_end_row_list("</TD></TR>")}}

{# Write set function (& setif) #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Set function:", setfuncs_path)}}
    {% if cls.id in prop.specific_set %}
        <A href="{{setfuncs_path}}#{{prop.specific_set[cls.id].name}}">Set{{prop.specific_set[cls.id].name}}</A>
        {{ macros.write_end_row_list("</TD>")}}
        {# Write setif function #}
            {{ macros.write_start_row_list("<TD width=\"50%\">", col3width, "baseline", "Set condition:", setiffuncs_path)}}
            {% if prop.setif %}
                <A href="{{setiffuncs_path}}#{{prop.setif.name}}">Setif{{prop.setif.name}}</A>
            {% else %}
            None
            {% endif %}
        {{ macros.write_end_row_list("</TD></TR>")}}
    {% elif prop.set %}
        <A href="{{setfuncs_path}}#{{prop.set.name}}">Set{{prop.set.name}}</A>
        {{ macros.write_end_row_list("</TD>")}}

        {# Write setif function #}
            {{ macros.write_start_row_list("<TD width=\"50%\">", col3width, "baseline", "Set condition:", setiffuncs_path)}}
            {% if prop.setif %}
                <A href="{{setiffuncs_path}}#{{prop.setif.name}}">Setif{{prop.setif.name}}</A>
            {% else %}
            None
            {% endif %}

            {{ macros.write_end_row_list("</TD></TR>")}}
    {% else %}
        None
        {{ macros.write_end_row_list("</TD><TD width=\"50%\">&nbsp;</TD></TR>")}}
    {% endif %}

{# Write documentation #}
    <TR>
        <TD colspan="2">
            {{ prop | docs }}
        </TD>
    </TR>

</TABLE>

{# RECURSE #}
    {% if prop.children %}
        {% for child in prop.children | sort(attribute="full_name") %}

            {# Skip properties that are not instantiated in given class #}
            {% if cls.id not in child.classes %}{% continue %}{% endif %}

            {{ write_property_details(child) }}
        {% endfor %}
    {% endif %}

{% endmacro %}

{# top #}

    {{ macros.write_table_title("40%", [prop.name + "&nbsp;property"]) }}
    <tbody>
    {{ write_index_table_entries(prop) }}
    </tbody>
    </TABLE>
    {{ write_property_details(prop) }}
{% endblock %}
