{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace() %}

{% set col1width = "70%" %}
{% set col3width = "30%" %}

{% macro write_index_table_entries(prop) %}
        <TR>
            <TD align="left">
                <SMALL>
                    <A href="#{{prop.full_name}}">{{prop.full_name}}</A>
                </SMALL>
            </TD>
            {{ macros.write_row_doc(prop.title) }}
        {% if prop.children %}
            {% for child in prop.children | sort(attribute="full_name") %}
                <!-- {{ child.full_name }} -->
                {{ write_index_table_entries(child) }}
            {% endfor %}
        {% endif %}
{% endmacro %}

{% macro write_property_details(prop) %}

{% set top_level_prop_name = prop.full_name.split('.')[0] %}

<!-- {{prop.full_name}} -->

<A name="{{prop.full_name}}"></A>

<TABLE class="main">
    {{ macros.write_index_link("#TOP", "INDEX", True) }}
    <TH class="centreindex">{{prop.full_name}}</TH>
    {{ macros.write_index_link(property_index_path, "PROPERTIES", False) }}
</TABLE>

<TABLE class="main">

{# Write classes #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Classes:", class_index_path)}}
    {% for cls_id in prop.classes.keys() | sort %}
        <A href="{{property_path}}_{{cls_id}}_{{top_level_prop_name}}.htm#{{prop.full_name}}">{{cls_id}}</A>{{ "," if not loop.last }}
    {% else %}
        None
    {% endfor %}
    {{ macros.write_end_row_list("</TD>")}}

{# Write property group #}

    {{ macros.write_start_row_list("<TD width=\"50%\">", col3width, "baseline", "Property group:")}}
    {{ prop.group.name }}
    {{ macros.write_end_row_list("</TD></TR>")}}

{# blank space #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline")}}
    {{ macros.write_end_row_list("</TD>")}}

{# Write type #}
    {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Type:", types_path)}}
    <A href="{{types_path}}#{{prop.type.name}}">{{prop.type.name}}</A>

    {% if prop.specific_types %}
    <BR>
    Specific types:<BR>
        {% for k, v in prop.specific_types.items() %}
        {{ k }}: {{v.name}}<BR>
        {% endfor %}
    {% endif %}

    {{ macros.write_end_row_list("</TD></TR>")}}


{# Write flags #}
    {{ macros.write_start_row_list("<TR valign=\"top\"><TD>", col3width, "baseline", "Flags:", flags_path)}}
    {% for flag in prop.flags.values() | sort(attribute="name") %}
        <A href="{{flags_path}}#{{flag.name}}">{{flag.name}}</A>{{", " if not loop.last }}

    {% else %}
        None
    {% endfor %}
    {{ macros.write_end_row_list("</TD>")}}

{# Write property range #}
    {% if prop.limits %}
        {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Range:")}}
        Min&nbsp;={{prop.min}}, Max&nbsp;={{prop.max}}
    {% elif prop.symlist %}
        {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Range:")}}

        {% for const in prop.symlist.consts %}
            <A href="{{symlists_path}}{{prop.symlist.name}}.htm#{{prop.symlist.name}}.{{const.symbol}}">{{const.symbol}}</A>
            <BR>
        {% endfor %}

    {% elif prop.class_symlist %}
        {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Ranges by class:")}}

        {# range is class symlist, write links to class symlists #}
        {% for class in prop.classes.values() | sort(attribute="id") %}
            <A href="{{class_path}}{{class.id}}_{{symlists_path}}_{{prop.class_symlist}}.htm">{{class.name}}</A>
            <BR>
        {% endfor %}

    {% else %}
        {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Range:")}}
        None
    {% endif %}
    {{ macros.write_end_row_list("</TD></TR>")}}

{# Write get function #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Get function:", getfuncs_path)}}
    {% if prop.get %}
        <A href="{{getfuncs_path}}#{{prop.get.name}}">Get{{prop.get.name}}</A>
    {% else %}
        None
    {% endif %}
    {{ macros.write_end_row_list("</TD>")}}

{# Write size #}
    {{ macros.write_start_row_list("<TD>", col3width, "baseline", "Size:&nbsp;")}}
    {% if prop.maxels %}
        {% if prop.maxels.startswith("N_ELS") %}
            {{ prop.children | length }}
            <BR>
        {% elif prop.maxels != "0" %}
            {{ prop.maxels }}
            <BR>
        {% endif %}
    {% endif %}

    {% for pl_cls, maxel in prop.specific_maxels.items() %}
        <B>{{ pl_cls.upper() }}</B>&nbsp;{{maxel}}<BR>
    {% endfor %}

    {{ macros.write_end_row_list("</TD></TR>")}}

{# Write set function (& setif) #}
    {{ macros.write_start_row_list("<TR><TD width=\"50%\">", col3width, "baseline", "Set function:", setfuncs_path)}}

    {% if prop.set %}
        <A href="{{setfuncs_path}}#{{prop.set.name}}">Set{{prop.set.name}}</A>
        {{ macros.write_end_row_list("</TD>")}}

        {# Write setif function #}
            {{ macros.write_start_row_list("<TD width=\"50%\">", col3width, "baseline", "Set condition:", setiffuncs_path)}}
            {% if prop.setif %}
                <A href="{{setiffuncs_path}}#{{prop.setif.name}}">Setif{{prop.setif.name}}</A>
            {% else %}
            None
            {% endif %}

            {{ macros.write_end_row_list("</TD></TR>")}}
    {% else %}
        None
        {{ macros.write_end_row_list("</TD><TD width=\"50%\">&nbsp;</TD></TR>")}}
    {% endif %}

{# Write documentation #}
    <TR>
        <TD colspan="2">
            {{ prop | docs }}
        </TD>
    </TR>

</TABLE>

{# RECURSE #}
    {% if prop.children %}
        {% for child in prop.children | sort(attribute="full_name") %}
            {{ write_property_details(child) }}
        {% endfor %}
    {% endif %}

{% endmacro %}

{# top #}

    {{ macros.write_table_title("40%", [prop.name + "&nbsp;property"]) }}

    {{ write_index_table_entries(prop) }}
    </TABLE>
    {{ write_property_details(prop) }}
{% endblock %}
