{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set bookmark = "" %}
{% set col1width = "30%" %}

<TABLE class="main">
    <TR>
        <TH>ID</TH>
        <TH>Label/[Constant]</TH>
        <TH>Words</TH>
        <TH>Documentation</TH>
    </TR>

    {% for runlog in superdict.runlog.values() %}
    <!-- {{ runlog.id }} -->
    <TR>
        <TD align="center" valign="top"><SMALL>{{ "0x%02X" | format(loop.index0) }}</SMALL></TD>
        <TD align="left" valign="top"><SMALL><B>{{ runlog.label }}</B><BR><SMALL>[FGC_{{runlog.id}}]</SMALL></SMALL></TD>
        <TD align="center" valign="top"><SMALL>{{runlog.length}}</SMALL></TD>
        <TD align="left" valign="top"><SMALL>{{runlog | docs}}</SMALL></TD>
    </TR>
    {% endfor %}
</TABLE>
{% endblock %}