{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "25%" %}
{{ macros.write_page_index("Setif Function", "Setif", superdict.setifs, "name", "title") }}

{% for key, value in superdict.setifs.items() | sort %}
<!-- {{ key }} -->

<A name="{{key}}"></A>
<TABLE class="main">
{{ macros.write_index_link("#top", "INDEX", True) }}
<TH class="centreindex">Setif{{key}}</TH>
{{ macros.write_index_link(property_index_path, "PROPERTIES", False) }}

<TR>
    <TD colspan="3">
        {{value | docs}}
    </TD>
</TR>
</TABLE>

{% endfor %}

{% endblock %}
