{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "40%" %}
<TABLE class="main">
    <TR>
        <TH class="sitemap">Reference</TH>
        <TH class="sitemap">Documentation</TH>
    </TR>
    <TR>
{# write reference area #}
        <TD VALIGN="top">
            <UL>
                <LI type="circle"><SMALL><A href="{{platform_index_path}}">Platforms</A></SMALL>
                    <UL>
                        {% for platform in superdict.platforms.values() | sort(attribute="id") %}
                            <LI type="disc"><SMALL><A href="{{platform_path}}_{{platform.name}}.htm">{{platform.id}} {{platform.name | upper }}</A></SMALL></LI>
                        {% endfor %}
                    </UL>
                </LI>

                <LI type="circle"><SMALL><A href="{{class_index_path}}">Classes</A></SMALL>
                    <UL>
                        {% for class in sorted_classes %}
                            <LI type="disc"><SMALL><A href="{{class_path}}{{class.id}}.htm">{{class.id}} {{class.name }}</A></SMALL></LI>
                        {% endfor %}
                    </UL>
                </LI>
        {# Write property list #}
                <LI type="circle"><SMALL><A href="{{property_index_path}}">Properties</A></SMALL>
                    <UL>
                        <LI type="circle"><SMALL><A href="{{getfuncs_path}}">Get functions</A></SMALL></LI>
                        <LI type="circle"><SMALL><A href="{{getoptions_path}}">Get options</A></SMALL></LI>
                        <LI type="circle"><SMALL><A href="{{setfuncs_path}}">Set functions</A></SMALL></LI>
                        <LI type="circle"><SMALL><A href="{{setiffuncs_path}}">Setif functions</A></SMALL></LI>
                        <LI type="circle"><SMALL><A href="{{flags_path}}">Property flags</A></SMALL></LI>
                        <LI type="circle"><SMALL><A href="{{types_path}}">Types</A></SMALL></LI>
                        <LI type="circle"><SMALL><A href="{{errors_path}}">Errors</A></SMALL></LI>
                    </UL>
                </LI>
                <LI type="circle"><SMALL><A href="{{properties_index_class_path}}">Properties index per class</A></SMALL></LI>
                <LI type="circle"><SMALL><A href="{{runlog_path}}">Run log entries</A></SMALL></LI>
                <LI type="circle"><SMALL><A href="{{codes_path}}">Codes</A></SMALL></LI>
                <LI type="circle"><SMALL><A href="{{components_path}}">Component types</A></SMALL></LI>
                <LI type="circle"><SMALL><A href="{{dim_type_index_path}}">DIM types</A></SMALL></LI>
                <LI type="circle"><SMALL><A href="{{system_index_path}}">Systems</A></SMALL></LI>
            </UL>
        </TD>
        {# Write documentation area #}
        <TD valign="top">
            <UL>
                {% for area in superdict.sitemap %}
                    {{ macros.recurse_links(area) }}
                {% endfor %}
            </UL>
        </TD>
    </TR>
</TABLE>

{% endblock %}
