{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set col1width = "70%" %}

<TABLE class="main">
    <TR>
        <TH width="{{col1width}}">{{symlist.name}}: {{symlist.title}}</TH>
    </TR>
</TABLE>

{# Write documentation if defined #}
    {% if symlist.doc %}
<TABLE class="main">
    <TR>
        <TD>{{symlist | docs}}</TD>
    </TR>
</TABLE>
    {% endif %}

{# Write constants column headers #}
<TABLE class="main">
    <TR>
        <TH width="30%">Symbol Name</TH>
        <TH width="10%">Settable</TH>
        <TH width="60%">Title</TH>
    </TR>
    {% for const in symlist.consts %}
    <!-- {{const.symbol}} -->
    <TR>
        <TD width="30%"><SMALL><A href="#{{symlist.name}}.{{const.symbol}}">{{const.symbol}}</A></SMALL></TD>
        <TD width="10%"><SMALL><CENTER>{{"Yes" if const.settable else "No"}}</CENTER></SMALL></TD>
        <TD width="60%"><SMALL>{{const.title}}</SMALL></TD>
    </TR>
    {% endfor %}
</TABLE>

{# If documentation is defined for this symlist, write documentation for each constant #}
    {% if symlist.doc %}
        {% for const in symlist.consts %}
    <!-- {{const.name}} -->
    <A name="{{symlist.name}}.{{const.symbol}}"></A>
    <TABLE class="main">
        {{ macros.write_index_link("#top", "INDEX", True) }}
        <TH colspan="2" width="{{col1width}}">{{const.symbol}}</TH>
        {{ macros.write_index_link(property_index_path, "PROPERTIES", False) }}
        <TR>
            <TD colspan="4">
            {{const | docs}}
            {# settable #}
            {% if not const.settable %}
            <BR><BR>
            Note: <B>This symbol is NOT settable.</B>
            {% endif %}
            {# Print cause, consequence and alarm constants #}
            {% if const.cause is not none %}
            <BR><BR>Cause: {{const.cause}}
                {% if const.consequence is not none %}
                    <BR><BR>Consequence: {{const.consequence}}
                {% endif %}
                {% if const.action is not none %}
                    <BR><BR>Action: {{const.action}}
                {% endif %}
            {% endif %}
            </TD>
        </TR>

        {# Write constant values for each class #}
            {% for cls in sorted_classes %}
                {% if class_id is not none and class_id != cls.id %}
                    {% continue %}
                {% endif %}

                {# check whether class uses the constant #}

                {% if const.name in cls.symtab_consts %}
                    {% set ns.value = cls.consts[const.name].val if const.name in cls.consts else superdict.consts[const.name].val %}
        <TR>
            <TD><SMALL><A href="{{class_path}}{{cls.id}}.htm">{{cls.id}}</A></SMALL></TD>
            <TD><SMALL><A href="{{class_path}}{{cls.id}}.htm">{{cls.name}}</A></SMALL></TD>
            <TD><SMALL>{{cls.title}}</SMALL></TD>
                    {% if ns.value is matching_regex("^\d+$") %}
            <TD><SMALL>{{ "0x%04X" | format(ns.value | int) }}</SMALL></TD>
                    {% else %}
            <TD><SMALL>{{ns.value}}</SMALL></TD>
                    {% endif %}
        </TR>
                {% endif %}
            {% endfor %}
    </TABLE>
        {% endfor %}
    {% endif %}

{% endblock %}
