{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "10%" %}

{{ macros.write_table_title(col1width, ["System", "Platform", "Description"]) }}
    {% for system in superdict.systems.values() | sort(attribute="type") %}
    <TR>
        <TD><SMALL><A href="{{system_path}}{{system.type}}.htm">{{system.type}}</A></SMALL></TD>
        <TD align="center"><SMALL>{{system.platform}}</SMALL></TD>
        {{ macros.write_row_doc(system.label) }}
    </TR>
    {% endfor %}

</TABLE>

{% endblock %}