{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set ns = namespace(value="") %}
{% set col1width = "70%" %}

<TABLE class="main">
    {{ macros.write_index_link("", "", True) }}
    <TH>{{system.type}}</TH>
    {{ macros.write_index_link(system_index_path, "SYSTEMS", False) }}
</TABLE>

{# Write system information #}
<TABLE class="main">
    <TR>
        <TD>{{system.label}}</TD>
    </TR>

    {# in the original file, there was a generation for system flags, but they don't seem to exist anymore... #}

{# components table #}
<TABLE class="main">
    <TR>
        <TH><SMALL>Barcode</SMALL></TH>
        <TH><SMALL>Label</SMALL></TH>
        <TH><SMALL>Required</SMALL></TH>
    </TR>
    {# filter single components without any bigger group #}

    {% for group in groups_with_1_barcode %}
        {% set barcode = group.barcodes.keys() | list | first %}
    <TR>
        <TD><SMALL>{{ barcode }}</SMALL></TD>
        <TD><SMALL>{{superdict.component_labels[barcode].label }}</SMALL></TD>
        <TD align="center"><SMALL>{{group.required }}</SMALL></TD>
    </TR>
    {% endfor %}

    {# filter groups with more than 1 barcode inside #}

    {% for group in groups_with_barcodes %}
        {% set barcodes = group.barcodes.keys() | list %}
        {% set label = superdict.component_labels[barcodes[0]].label %}
    <TR>
        <TD><SMALL>{{ barcodes[0] }}</SMALL></TD>
        <TD><SMALL>{{ label }}</SMALL></TD>
        <TD align="center" rowspan="{{ barcodes | length }}"><SMALL>{{group.required }}</SMALL></TD>
    </TR>

        {% for barcode in barcodes %}
            {% if loop.first %}{% continue %}{% endif %}
    <TR>
        <TD><SMALL>{{ barcode }}</SMALL></TD>
        <TD><SMALL>{{ superdict.component_labels[barcode].label }}</SMALL></TD>
    </TR>

        {% endfor %}
    {% endfor %}
</TABLE>

{# write dims #}

{% if system.dims %}
    <TABLE class="main">
        <TR>
            <TH width="20%"><SMALL>DIM Index</SMALL></TH>
            <TH><SMALL>DIM Name</SMALL></TH>
            <TH><SMALL>DIM Type</SMALL></TH>
            <TH width="20%"><SMALL>Bus Address</SMALL></TH>
        </TR>

    {% for dim in system.dims.values() %}
        <TR>
            <TD align="center" width="20%"><SMALL>{{dim.dim_idx}}</SMALL></TD>
            <TD><SMALL>{{dim.name}}</SMALL></TD>
            <TD><SMALL><A href="{{dim_type_path}}{{dim.dim_type.type}}.htm">{{dim.dim_type.type}}</A></SMALL></TD>
            <TD align="center" width="20%"><SMALL>{{dim.bus_addr}}</SMALL></TD>
        </TR>
    {% endfor %}
    </TABLE>
{% endif %}
</TABLE>
{% endblock %}
