{% extends "base.htm.j2" %}
{% block content %}
{% import "macros.htm.j2" as macros %}
{# set variables #}
{% set col1width = "30%" %}
{{ macros.write_page_index("Property Type", "", superdict.types, "name", "title") }}

{% for key, value in superdict.types.items() | sort %}
<!-- {{ key }} -->

<A name="{{key}}"></A>
<TABLE class="main">
{{ macros.write_index_link("#top", "INDEX", True) }}
<TH class="centreindex" colspan="2">{{key}}</TH>
{{ macros.write_index_link(property_index_path, "PROPERTIES", False) }}

{{ macros.write_start_row_list("<TR><TD colspan=\"2\" valign=\"top\" width=\"50%\">", col1width, "baseline", "Size in bytes:") }}
{{ value.size }}
{{ macros.write_end_row_list("</TD>") }}

{# write size of properties of this type #}

{{ macros.write_start_row_list("<TD colspan=\"2\" valign=\"top\">", col1width, "baseline", "Default limits:") }}
    {% if value.limits is not none %}
    Min = {{value.min}}<BR>Max = {{value.max}}
    {% else %}
    None
    {% endif %}

{{ macros.write_end_row_list("</TD></TR>") }}

{# Write documentation #}
<TR>
    <TD colspan="4">
        {{value | docs}}
    </TD>
</TR>
</TABLE>

{% endfor %}

{% endblock %}
